<div class="page-header">
  <h1 id="the-early-days">The Early Days</h1>
</div>

<p>The Pleasant Point district had its European beginnings as part of the Levels
Station, the first grazing run to be taken up in South Canterbury.</p>

<p>In December 1850, the Rhodes Bros. applied for three runs totalling 159,000
acres. They had heard about beautiful open plains in the area from men at the
Timaru whaling station which had been set up in the 1830s. In August 1851,
they made a further application for all the country between the Opihi and
Makikihi, extending fifteen miles inland.</p>

<p>The Rhodes Bros. named the station after the place near Doncaster where
their father lived in England.</p>

<p>The Levels run was originally supposed to cover all the country from the
Opihi to the Pareora rivers and to extend from the sea to the Mackenzie Pass
but it was later discovered that they had more land than they were entitled to.
They then made over 22,500 acres to a relative, Mr. J. King, and this became
Otipua Station.</p>

<p>The new southern boundary of the Levels ran from the coast at Saltwater
Creek, in a straight line to the back of Mt. Horrible at Claremont. A
subsequent survey cut off the Albury and Opawa runs, further reducing the
area of Levels.</p>

<p>Despite these reductions, the run covered such a vast area that it was
necessary to have ‘outstations’ on the property. Such a one was situated at
Pleasant Point and named ‘Hodsock’ after George Rhodes’s birthplace in
Nottinghamshire. It stood near the site of the present railway station.</p>

<p>As time went by, Pleasant Point became a popular overnight camp for
waggoners travelling between Timaru and the Mackenzie Country so that the
need arose for an accommodation house. The first one was opened by Wm. Warne in
1864 on a site where Atkinson and Dossett’s garage stands today.</p>

<p>The conditions then required for the establishment of an accommodation
house make interesting reading by today’s standards. Published in the Timaru
Herald of 25 July 1866, a report of the Annual Licensing Meeting for the year
ending 30 June 1866, states the conditions under which a licence was granted to
Wm. Warne:</p>

<ol>
  <li>All premises to be kept in good repair. To provide in his house, besides the
  tap-room or room answering as such, one public and one private sitting room.</li>
  <li>To provide not less than six beds for travellers in not less than two separate
  bedrooms.</li>
  <li>To provide a shed, sufficiently weathertight and fit for accommodation for
  at least six horses.</li>
  <li>At all times to keep a proper supply of water for horses or cattle.</li>
  <li>To keep at all times a proper supply of oats and oaten or grass hay. Oats to
  be charged for to travellers at not more than 6d per quart and to be always
  served out with the authorised quart measure.</li>
  <li>To provide and keep in repair a good and sufficient stockyard for cattle.
  containing a superficial area of not less than 225 square yards. For the
  occupation of this yard during the night, the licensee may make a charge at
  rates not exceeding the following, viz:<br />
  Two pence per head for all cattle under 50 in number and one penny per head
  for all over that number.</li>
  <li>To provide and keep in repair a good and sufficient movable sheep-proof
  yard containing a superficial area of not less than 900 square yards; or at the
  option of the licensee, to keep one acre of land enclosed by a permanent sheep
  proof fence. For the occupation of this yard or paddock during the night, the
  licensee may make a charge at rates not exceeding the following, viz:<br />
  Six pence per score for all sheep under 300 in number; fourpence per score for all
  over that number and under 500: and twopence per score for all over 500.</li>
  <li>To keep a lamp burning from sunset to sunrise with two burners giving a
  sufficiently bright light.</li>
  <li>To be sworn in and act as constable, especially when required by the
  Magistrates or the police.</li>
  <li>On all occasions to render any assistance, and to supply information to
  Magistrates and to the police in the execution of their duty.</li>
  <li>To keep a clean and orderly house and to render it as comfortable for the
  accommodation of travellers as the circumstances of position and distance
  from towns will allow.</li>
  <li>The licence to be cancelled by order of any three Justices of the Peace if it
  be proved to their satisfaction that any of the conditions of the licence are not
  regularly fulfilled, or if any drunkenness be proved to have been allowed on
  the premises, or if any spirits shall be supplied from the house or premises to
  any aboriginal native of New Zealand.</li>
  <li>A printed or fairly-written copy of these conditions, and a tariff of all
  charges, to be kept at all times posted up in some conspicuous place in the tape
  room and in all the sitting-rooms for the information of travellers.</li>
  <li>To provide a visitors’ book which shall be kept in the custody of the
  licensee, but whenever asked for, shall be produced to visitors and lodgers, for
  the insertion of any remarks on the accommodation or attendance; a notice to
  this effect to be kept posted in the same manner as the tariff of charges. The
  book to be open at all times to inspection by Magistrates or the police and to
  be sent to the Clerk of the Bench, at Timaru, a week before the Annual Licensing
  Meeting, for the purpose of being produced at that meeting.</li>
  <li>To keep a copy of the Public House Ordinance in the house.</li>
</ol>

<p>At that time, Pleasant Point consisted of two distinct areas. A private
township, named ‘Piko’ was divided into quarter acre sections and offered in
September 1866, at seven, ten and twelve pounds a section. These were
situated on the eastern side, presumably in Ameer, Kabul and Afghan Streets
area. There was a poor attendance at the sale and no sections were sold 7 about
a dozen were sold privately afterwards.</p>

<p>The following advertisement appeared in the Timaru Herald, announcing
  the sale:</p>

<blockquote>
  <p>AT AN EARLY DATE, OF WHICH DUE NOTICE WILL BE GIVEN,
  SECTIONS OF LAND IN THIS TOWNSHIP WILL BE OFFERED BY PUBLIC
  AUCTION.</p>

  <p>The great necessity for a township at the place at present known as
  Pleasant Point, and the rapid peopling of the adjoining land, has induced the
  proprietors to lay out and offer for sale sections in the town of Piko.</p>

  <p>The site of the town as laid out is close to the present accommodation house,
  and fronting up the main line of road leading to the Cave and the Mackenzie
  Country. Another main line of road also adjoins the township, which road
  opens up a splendid agricultural district, and also leads to the fertile bushland
  at Kakahu.</p>

  <p>The township is about fourteen miles from Timaru, and is approached by
  one of the best lines of road in the district, quite flat and in good repair. There
  is also a main road leading from Temuka and Arowhenua.</p>

  <p>The land in the town is good and no site can be found which contains the
  same advantages of dry, healthy situation, abundant supply of water, and
  which lies in the main thoroughfare to the Mackenzie Country and also on the
  borders of the principal agricultural district in this part of the province.</p>

  <p>There is a never-failing stream close to the town and the river Opihi is only
  about half a mile distant. In addition to these advantages, water can be
  obtained upon the ground at a depth of a few feet.</p>

  <p>The extent of agricultural land already under cultivation is such that the
  erection of a flour mill has already commenced about a mile from the
  township; a blacksmith is also about to commence business; and already a
  first-rate accommodation house has been finished and opened</p>

  <p>The above town will not only become a valuable depot for the Mackenzie
  Country: but must, from its situation, be the centre of a large population of
  agriculturalists: and from its accessibility, carry on a considerable trade with
  Timaru.</p>

  <p>Quarter-acre sections in this township will be offered at an upset price of
  7 pound, 10 pound, and 12 pound.</p>

  <p>According to situation.</p>

  <p>Until the day of sale, plans can be seen and sections purchased privately, on
  application to F. LeCREN, Timaru.</p>
</blockquote>

<p>The other area, named ‘Morton’ after a representative of the New Zealand
and Australian Land Company, was situated on the Te Ngawai side of
Pleasant Point. This was sold off on 27 January 1876.</p>

<p>The sale was on the understanding that the surrounding country was about
to be disposed of in moderately sized farms but this did not happen until the
government acquired and leased the land in 1904.</p>

<p>Within a few years of the opening of Warne’s accommodation house, a few
shops began to develop to meet the demands of the increasing number of
travellers.</p>

<p>By 1868, Pleasant Point consisted of Warne’s accommodation house, by
then leased to J. A. McIlwrick; a blacksmith’s shop, two general stores and a
boarding house. The blacksmith’s, owned by James Gammie, was situated on
the western side of the cottage at 110 Main Road.</p>

<p>His residence was on the same property on the brow of the hill and two
handsome Wellingtonias in Manse Road still mark the entrance to it.</p>

<p>The first general store was built and operated by James Strachan and stood
on the now empty section on the Te Ngawai side of the Hotel. A second store,
opened by Fraser and McLeod and later purchased by Morris and Mendleson
was situated in the vicinity of the present Pleasant Point Motors. The boarding
house, conducted by a Mr. Watkins, was situated where the telephone
exchange now stands.</p>

<p>Residences were few. Mr Wm. Halstead’s house of limestone blocks was
situated at 12 Halstead Road. The blocks can still be seen in the garden
landscaping of that property today. Albert Smith’s house at 9 Halstead Road
is still occupied; Kee’s home, opposite the Domain was on the site of DC.
Clarke’s house in Rayner Street; The foundations of John Greig’s home at 101
Te Ngawai Road, are today utilised as a farm machinery loading bank; Thos.
Young’s house stood at 131 Te Ngawai Road; Mr. Worthington’s sod house
stood at 110 Te Ngawai Road (part of the old existing limestone homestead), and the
home of Mr Inman Jackson at ‘The Gables’, Te Ngawai Road, is still in
use as a holiday home. From this it can be appreciated why the first school was
located at 60 Te Ngawai Road in 1868.</p>

<p>The 1870s brought rapid development to the township. The opening up of
the railway brought construction workers to the Piko area where a ‘canvas
town’ grew. Numerous cottages were located in the Morton area and, with the
breaking up of farm land into smaller holdings, there was a demand for
further necessary services to meet the needs of the community.</p>

<p>The accommodation house was no longer adequate and substantial
additions were made to it in brick to cater for the increased trade. In a very
short time, under the ownership of Mr Josephus Murphy, a further addition of
an "Assembly Room‘ was made which served the community as a public
meeting place and dance hall.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-1.jpg' %>
  <div class="caption">
    <p>The Pleasant Point Hotel - the original accommodation house built in 1864 for Wm.
        Warne is the wooden part of the building on the right.</p>
  </div>
</div>

<p>At much the same time, Mr James Strachan saw the need for a second hotel
to be sited on the opposite corner at the junction of the Main and Te Ngawai
Roads. Known as the Railway Hotel, it was built in 1875 of limestone blocks.
Within two years, extensive additions had been made to it on the Main Road
side of the building. The ground floor accommodated a billiard room and two
shops and the upper storey had two private sitting rooms and ten bedrooms.</p>

<p>Besides this, Mr Strachan replaced his original grocery shop with a
substantial brick building. The interior was divided into three departments —
a front store with a grocery on one side, a drapery on the other, an office in the
middle and another store at the back. At the time of its opening in 1877, it was
described as being equal to any store in South Canterbury. The building is now
in use as the local Scout Den.</p>

<p>Other important developments in the same year included Morris and
Mendleson’s new store situated where the present supermarket stands. The
original building was constructed of wood and iron and the back section of it
still serves the present supermarket as a storeroom.</p>

<p>In the early days, the front part of the store was used for general retailing
and the back section was a grain and produce store.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-2.jpg' %>
  <div class="caption">
    <p>A very early photo of the township taken about 1890.</p>
  </div>
</div>

<p>In 1878, Mr McKibben built the third grocery shop in the town which
replaced one built by Fraser and Mcleod and later owned by Morris. It was
situated in the vicinity of the garage presently run by Pleasant Point Motors
Ltd. Some time later, McKibben purchased the other store owned by Morris
and Mendleson and replaced the front section with the substantial two-storeyed
brick building which now houses the supermarket.</p>

<p>A report in a Timaru Herald of 1877 announced the opening of an agency
for the Bank of New Zealand with the comment that it was “good news for
The Point and the neighbourhood.” It was situated in the Afghan Street
vicinity but appears to have been short-lived at that stage as a report on the
Point in the ‘Temuka Leader’ of 8 November 1879 criticises its closure.</p>

<p>In the same article, the businesses of the township are listed: “There are
three general stores; Mr Morris’s shop, Mr Emmes’s large brick store built by
Mr Strachan and Mr McKibben’s ...... ”</p>

<p>There was a baker’s shop owned by Mr A, MacDonald in the Railway Hotel
building; a bakehouse in the back yard of Morris’s store skirting Morris Lane;
Mr Acton’s butchery on the Main Road near the Point Hotel and next door to
Mr Anderson’s wheel and millwright shop; Mr Hobbs’s tailoring
establishment in Maitland Street, (now the property of Stowell Engineers); Mr
Prentice’s shoemaking business, (thought to have been in the vicinity of the
shopping mall opposite the railway station); Mr Bullock’s saddlery in Afghan
Street, which was where the BNZ agency was located. By this stage, there were
also two boarding houses in the township.</p>

<p>Two livery stables served the travelling public. The Point Stables had been
established by Wm. Warne when, before the advent of the railway, he ran a
coach service to Timaru. They were later owned by Mr Glen. The Railway
Stables were owned by Wm. Halstead.</p>

<p>Residents of outlying districts would travel to the Point by horse and gig,
leave their horses at the stables and continue their journey to Timaru by train.
The stables also ran a buggy and saddle horse hire service.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-3.jpg' %>
  <div class="caption">
    <p>The township at the turn of the century viewed from Cemetery Hill. Gammie's
    blacksmith shop is in the foreground.</p>
  </div>
</div>

<p>In 1879, Mr Gorram Lambert opened a chemist shop on the site which was
later to house the Post Office. The advertisement in the Timaru Herald
announcing its opening stated that he had commenced business as chemist and
druggist and that horse and cattle medicines of all descriptions were held in
stock. It would appear that Drs Lovegrove and Hammond of Timaru used his
dispensary as their consulting rooms on Mondays and Thursdays from three to
four o’clock.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-4.jpg' %>
  <div class="caption">
    <p>The township about 1900. Lambert's first chemist shop, later a dressmaking
    business is the building on the left.</p>
  </div>
</div>

<p>By 1897. Lambert’s Chemist had moved from Afghan Street and established
premises on “one of the best sites in the township,” situated on the corner of
Main Road and Halstead Road. In addition to his stock of “druggist
sundries” he added “fancy wares of all kinds”.</p>

<p>The Timaru Herald reported: “Mr F . White, who has experience in
Bookselling, Stationery Business is to supervise hand-books for farmers, a new
departure for Pleasant Point and one which should meet with favour and
encouragement.”</p>

<p>A residence was attached to the shop and behind it was a large tin shed
which was a cordial factory run by Mr Lambert’s son Arthur. His lemonade
and ginger ale were renowned throughout South Canterbury. Mr Wells tells
how, as a child, he would join the other local children in the rush to help
Arthur each morning to push the cart loaded with cordial up to the two hotels
for the reward of a free lemonade. Once a week, Mr Lambert caught the local
train to Fairlie and distributed his cordial to the hotels along the way.</p>

<p>By this time, a Post Office was functioning in the Railway Station and the
1880s brought further development to the township.</p>

<p>Mr John Crawford moved from his little cob cottage on the corner of Shere
and Afghan Streets and set up house and boot-maker’s business at 7 Afghan
Street, and his son Bill carried on the trade he had learnt from his father. (In 1942,
the house was moved to higher ground on the section, renovated and is still is use
today.)</p>

<div class="thumbnail">
  <%= image_tag 'ch3-5.jpg' %>
  <div class="caption">
    <p>Crawford's Bootmaker's business in Afghan Street.</p>
  </div>
</div>

<p>Mr G. Dixon opened a fruit and confectionery business a little way back
from the Main Road where the Jopp Buildings now stand and, in the late
1890s, Mr Collins opened a bakery business in Te Ngawai Road on the creek
side of the present Scout Den.</p>

<p>At about the same time, another bakery, owned by Mr Adams, started up
on the property now occupied by Shortus‘s General Store.</p>

<p>Growth of the township meant a greater demand for houses. Mr Henry
Rogers was a master builder and, in 1874, took on H.C. Dossett, then aged 13,
as apprentice. After serving his apprenticeship, he commenced business on his
own account and carried on for well over fifty years. He also set up business as
undertaker at 15 Te Ngawai Road.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-6.jpg' %>
  <div class="caption">
    <p>Dixon's fruitshop located in the vicinity of Jopp's Buildings.</p>
  </div>
</div>

<p>Mr Edwards started a paint and paper-hanging business next door to
Morris’s store and Mr Exell, who lived in a cob cottage on the corner of Shere
and Afghan Streets, made sun-baked bricks for many houses in the district. He
excavated the clay from the creek at the back of his property.</p>

<p>Early homes in the township were very simple cottages; Some were of cob or
sod, others of wood and a few more substantial ones were of limestone. Few
remain standing today.</p>

<div class="thumbnail">
  <%= image_tag 'ch3-7.jpg' %>
  <div class="caption">
    <p>One of the few early homesteads still standing built for the Agnew family.</p>
  </div>
</div>

<p>Families were self-sufficient with a cow in the back paddock, hens at the
bottom of the vegetable garden and, in many instances, a pig was housed on
the plot to consume the surplus milk and provide the year’s bacon supply. Home
made butter was the order of the day.</p>

<p>Life for the housewife was busy and basic, her entire life being centred
round the care of the family and home. Amenities were scarce with most
homes devoid of kitchen sink, bathroom and laundry. Water was pumped
from an underground well by an outside hand pump and cooking was done
over an open fire. Sanitation left a lot to be desired with a ‘privy‘ at the bottom
of the garden path.</p>

<p>Many housewives would be left to cope alone while their men folk were
away for days or weeks at a time working as drovers, shearers, mill hands or
on road and railway construction.</p>

<p>In spite of their busy lives, it would appear that some people made time for
sport and recreation. A tennis club, a football club and a cricket club were all
functioning before the turn of the century.</p>

<p>A jockey club was formed in the 1880s and race meetings were held under
the chairmanship of Josephus Murphy, the Point Hotel proprietor. In the
Timaru Herald of December 11th 1882, notice of a race meeting stated the
sweepstake to be one sovereign for acceptors with a sum of money added for
the winner. The second horse was to receive three sovereigns from the stakes.
The Race Meeting was scheduled to begin “immediately after the arrival of the
3.30pm train from Timaru.”</p>

<p>A meeting in 1886 was described as passing off “very quietly without at all
taxing the energies of the preservers of the peace.”</p>

<p>A boxing match, described as one of the first in South Canterbury, was held
in the Point Livery Stables. Candles along the walls of the loose boxes served
for lighting and a large box was used as the ring. “Gloves were supplied by Mr
Murphy, Mr Dossett and others.”</p>

<p>Mr Wm. Crawford relates how another sport was illegally carried on in
these stables — that of cock fighting!</p>

<p>There must also have been a keen interest in fishing as, on 24 January 1877,
John Knight brought two thousand salmon smolt from Christchurch and
liberated them in the Opihi River seven miles from Pleasant Point. Also,
Messrs Meek and Howell had acquired twelve young trout from the Otago
Acclimatisation Society and released them in a branch of the Te Ngawai River
near the Point.</p>

<p>Music, sewing and cribbage classes were organised by the Pleasant Point
Mutual Improvement Association under the control of the Presbyterian
Church. Fortnightly meetings were held and a journal of their literary pursuits
was apparently edited in 1896.</p>

<p>Lodges were formed in the township for the purpose of providing sickness
benefits for members. A man who was unable to work would receive from
fifteen shillings to one pound with free medical attendance and, in the event of
death, his family was entitled to about 20 pound. Should a man's wife die, l5
pound was allowed for funeral expenses. To secure these benefits, members
subscribed from 6d to 1/- weekly.</p>

<p>The Lodge of Good Templars, named ‘Anchor of Hope‘, was first instituted
in 1874 and the Oddfellows Lodge, with a membership of 21, was established
in 1891. They built their own hall in Maitland Street (now Gospel Hall).</p>

<p>When the Orange Lodge was established in 1883, it was described as “the
largest gathering of its kind ever seen at The Point.” Members set about
building their own Orange Lodge Hall but their plans were fraught with disaster.
Foundations were laid on the property between the Manse and Manse
Road, now owned by the Presbyterian Church. Each time the building was
commenced, the Irish catholics from Kerrytown would come and pull it down,
so it never was completed.</p>

<p>A report in a Timaru Herald of 1897 says: “The history of halls in Pleasant
Point would make an interesting chapter on ‘how not to do it’ v the Orange
Hall, for instance, which is all foundation and nothing else, looks like a
graveyard in the middle of the township.”</p>

<p>Many of the younger generation must find it hard to picture life as it was in
those early days but it has to be acknowledged that the fortitude of these
pioneers laid the foundations for the way of life we enjoy in the township
today.</p>
