<div class="page-header">
  <h1 id="religion">Religion</h1>
</div>

<p>In the pioneering days, families longed for the consolation of the Church
and, to meet this need, services were held ‘wherever two or three were gathered
together’; in home, woolshed, hotel or in the open air. Later, the school
became the centre for church services of varied denominations.</p>

<p>As early as 1838, Bishop Harper is recorded as having conducted church
services at the Levels sheep station and by 30 December, 1866 a meeting had
been called in Pleasant Point to discuss the erection of a building suitable for
divine worship and also a school. By the end of the meeting, subscriptions
amounted to fifty pounds and, within a short time, increased to sixty pounds.</p>

<p>Within six months, a twentyreight by fourteen foot building situated on the
corner of Nikau Street and 60 Te Ngawai Road was opened for public
worship. It is reported in the Timaru Herald that the Right Reverend Lord
Bishop of Christchurch delivered an excellent sermon taking for his text,
Psalm 109, verse 1.</p>

<p>“The service was held in the evening and attendance was large. He stated
that, if promised subscriptions were paid promptly, the building would shortly
be painted and finished.”</p>

<p>As communities developed, separate denominations were established, each
with a clergyman given charge of the whole of South Canterbury. Anglicans
led the way.</p>

<p>On 9th January 1860. Rev. George Foster was licensed on behalf of the
Anglican Church to the curacy of the Pastoral District of South Canterbury,
an area extending from the Rangitata to Waitaki rivers and inland to the
Southern Alps.</p>

<p>In 1865, Rev. George Barclay was ordained as Presbyterian Minister for
Timaru and surrounding districts. It was he who was responsible for founding
the majority of the parishes now making up the South Canterbury Presbytery.</p>

<p>The stories of his adventures are legion. He travelled on horseback or by
buggy to every part of his parish and was once forced to watch one of his
horses drown in the Opihi river when his vehicle overturned. Yet he
unharnessed the other and rode on.</p>

<p>On another occasion, he leapt out of his gig as it was swept away with the
horse by flood waters and yet again, he was found unconscious in a paddock
whilst his horse grazed quietly at a distance. It is said that Barclay often
preached in torn garments with bleeding hands and the water squelching from
his boots.</p>

<p>Other denominations were also active in the early days. In the Timaru
Herald, mention is made in 1884 of the Salvation Army “having secured a
local habitation in the shape of a large building once used as a blacksmith’s
shop which they have fitted up as Barracks, steadily prosecuting their works
with some success.”</p>

<p>In the same article, reference is made to “the periodical Wesleyan services in
the school room being well attended."</p>

<p>The article also states: “If we cannot claim to be a highly religious
community, we can at least boast of about as many samples as our
neighbours.”!!</p>

<p>About that time, the Roman Catholic Church was also becoming established
in South Canterbury.</p>

<h2 id="the-presbyterian-church">The Presbyterian Church</h2>

<p>When Rev. Barclay began to conduct services in Pleasant Point, the village
consisted of a smithy, an accommodation house and one or two necessary
adjuncts. Services were at first held only on the rare occasions when Mr
Barclay had the opportunity to conduct them. They were held in the
schoolhouse or school.</p>

<p>Within ten years, the growth in population led to more regular services and
the congregation began to see the need for a permanent church. So, when Rev.
Barclay was made minister of Temuka, it was decided to join in with the rest of the
parish in engaging Rev. Murray for six months as Rev. Barclay’s assistant. Pleasant
Point was to contribute twentyefive pounds towards his salary. However, at the end
of the six months, it was decided to do without this assistance.</p>

<p>In November 1874, less than two years after Pleasant Point had become part
of a Temuka based parish, the township's Presbyterians opened a subscription
list towards their proposed church.</p>

<p>A site on the hill was offered by Mr. James Gammie, free of any charges. It
was situated next to his residence in what is now the western corner of the
church grounds. After careful consideration, this offer was accepted in
preference to one made by Mr McLellan of Timaru.</p>

<p>Plans were prepared gratis by Frank Wilson, a Timaru architect and such
was the progress of the undertaking that construction began in early 1875 and
was finished before the year was out. The church was built of wood and had
seating for 120. The opening day services were conducted by Rev. Barclay on
21st November 1875.</p>

<p>In the ensuing years, the arrival in South Canterbury of more and more
settlers increased the work of the church and the interest in it. Proposals were
being made for further division of the pastoral areas and, within two years, the
possibility of having a resident minister in Pleasant Point as the result of such
division, was being investigated.</p>

<p>In 1878, it was finally decided that the Pleasant Point district should form a
separate parish extending to the proposed Geraldine boundary in the north
and including Washdyke, Cave, Totara Valley and Pleasant Point.</p>

<p>This proposal was accepted by the Presbytery and the old Temuka Parish
was divided into three — Temuka, Pleasant Point and Geraldine which
included the Mackenzie Country. This became effective on May lst 1879 and,
on ZIst July that year, the Rev. A. Alexander was inducted as the first resident
minister of Pleasant Point.</p>

<p>With the arrival of a full-time minister, it became possible to establish places
of worship at Cannington, Totara Valley, Kakahu and Albury until it became
part of the Mackenzie parish in 1890.</p>

<p>Important milestones in the history of the parish before the turn of the
century included the erection of the first manse in 1881 and substantial
enlargements to it in 1897. This wooden residence, still in good repair, stands
in Manse Road over the crest of the hill from the existing church. In 1890 the
little limestone church of St. Paul was built in Totara Valley.</p>

<p>In the early years of this century, the work of the church expanded further
with the arrival of new families at Rosewill settlement and the sub-division of
Levels Station following its purchase by the Government from the New
Zealand and Australian Land Company. In those days, the parish had ten
preaching places.</p>

<p>With modes of transport being so limited, it was necessary to take the
church to the people in out-lying areas. For a long time, services and Sunday
school sessions were conducted in the local schools. Such an extensive
programme of worship required the minister to take three or four services each
Sunday and to call on the assistance of lay preachers as well.</p>

<p>As early as 1907, the Parish Board of Managers declared the need for a
bigger church in Pleasant Point but it was not until 1910 that a canvas for
financial support was taken.</p>

<p>Hopes were dashed when the lowest tender of two thousand and fifteen
pounds was almost twice the estimate but in June 1911, tenders were again
called for a modified plan. The lowest tender of thirteen hundred and five
pounds from Kennedy and Meecham was then accepted.</p>

<p>Within a month, parishioners had assembled with horse teams, ploughs and
scoops to excavate the site and a start was made on the quarrying of the stone
for the walls which came from the Sutherlands property of Mr Alexander
Sutherland.</p>

<div class="thumbnail">
  <%= image_tag 'ch6-1.jpg' %>
  <div class="caption">
    <p>A view of the Presbyterian church with the original church situated on the
    hilltop and the Manse before being renovated.</p>
  </div>
</div>

<p>The foundation stone was laid by Mrs Sutherland on 19th October 1911 and
the new Church of St. John’s was opened on 9th March 1913. The original
wooden church higher on the hill became the Sunday school and continued in
that role until it was demolished in 1954.</p>

<p>It was also used for the many social functions associated with the church
and, in 1923, a kitchen was added to the back of the building. Older residents
today recall the old copper used to boil water for the numerous cups of tea
served at such functions. Concerts, socials and Bible class dances were held
there and school candidates for matriculation have memories of sitting their
examinations to the accompaniment of swarms of buzzing bees in the old bell
tower.</p>

<p>In the late 1950s, the interior of St. John’s was redesigned, the old choir
stalls and pulpit rails being removed. The completion of this work was
marked by a war memorial window in 1959. A second window presented by an
anonymous former parishioner was unveiled to mark the 90th anniversary of
the parish and an electronic organ replaced the little old harmonium of
yesteryears.</p>

<p>When St. John’s was built, one of the cost-reducing modifications to the
plans was to leave out the bell tower. For many years, the bell remained in the
tower of the old church and, following its demolition, a separate bellestand
was set up by the new church. In 1972, Mrs N. E. Oakley, widow of a former
parish minister, Rev. N. Oakley, provided the nucleus of a belfrey fund as a
memorial to her husband. In 1974, when sufficient money was raised, a belfrey
was added to St. John’s. Significantly, its design was based on a sketch by
Robert Oakley, architect son of Rev. Oakley.</p>

<ß>Parish boundaries have changed over the years. For instance, Albury,
originally part of Pleasant Point Parish, was transferred to Mackenzie in 1890
and then, in 1909, was established as a separate parish. It continued so for
sixty-three years until, in 1972, it was again linked with Pleasant Point.</ß>

<p>The more recent history of the parish includes the building of a new manse
in front of the church in 1941. Originally a single storey structure in the flat-
roofed, Spanish style popular at the time, its appearance has since altered
completely.</p>

<p>Because of acute shortage of space for a family, the building of a new manse
was, at first, considered. However, as the building was structurally sound, the
problem was solved by the addition of an upper storey for bedrooms. Work
began on this project in February 1977 and was completed a year later.
Many men and women of the parish gave innumerable hours of voluntary
work to this project.</p>

<p>The present Church Hall was built in 1954 to replace the old church when it
was demolished.</p>

<p>The life of the parish today is centred mainly at St. John‘s with twice monthly
services at Totara Valley, Albury and St. David’s, Cave. It remains an integral part
of the lives of those whose forbears first established the Presbyterian church in the
district more than a hundred years ago.</p>

<p>Ministers of the Pleasant Point Parish have been as follows:</p>

<table class="table">
  <tbody>
    <tr>
      <td>Rev A. Alexander</td>
      <td>1879&ndash;1880</td>
    </tr>
    <tr>
      <td>Rev D. McLennan</td>
      <td>1880&ndash;1885</td>
    </tr>
    <tr>
      <td>Rev W. White</td>
      <td>1885&ndash;1890</td>
    </tr>
    <tr>
      <td>Rev J. White</td>
      <td>1892&ndash;1908</td>
    </tr>
    <tr>
      <td>Rev G.S. King</td>
      <td>1909&ndash;1918</td>
    </tr>
    <tr>
      <td>Rev J.T. Gunn</td>
      <td>June 25&ndash;July 20 1919</td>
    </tr>
    <tr>
      <td>Rev G. Falconer</td>
      <td>1919&ndash;1926</td>
    </tr>
    <tr>
      <td>Rev W. McNeur</td>
      <td>1926&ndash;1939</td>
    </tr>
    <tr>
      <td>Rev I. Dixon</td>
      <td>1939&ndash;1944</td>
    </tr>
    <tr>
      <td>Rev N. Oakley</td>
      <td>1945&ndash;1953</td>
    </tr>
    <tr>
      <td>Rev I. Powell</td>
      <td>1953&ndash;1964</td>
    </tr>
    <tr>
      <td>Rev J. Van Royen</td>
      <td>1965&ndash;1975</td>
    </tr>
    <tr>
      <td>Rev W. Marshall</td>
      <td>1975&ndash;1982</td>
    </tr>
    <tr>
      <td>Rev B. Ayres</td>
      <td>1982&ndash;1989</td>
    </tr>
  </tbody>
</table>

<h2 id="the-anglican-church">The Anglican Church</h2>

<p>The Anglican Church, like the Presbyterian, had its beginnings as part of
the wide South Canterbury curacy until the growth of small townships made its
division necessary.</p>

<p>The Parish of Temuka and Geraldine was established in December 1870 by
the presiding Bishop Harper. It embraced a wide area along the Opihi and Te
Ngawai rivers and extended into the Mackenzie Country.</p>

<p>In those early pioneering days, it was accepted practice to hold Anglican
services in local schools and it is recorded that Bishop Harper ‘conducted
divine service in the school room at The Point on 11th May 1873’.</p>

<p>Even then, a strong bond of friendship and understanding was evident
between the Presbyterians and Anglicans of the district. A year after the
Presbyterian church was built, it was made available to the Anglicans who
regularly held services there.</p>

<p>No doubt this arrangement encouraged the Anglicans to aspire to greater
things and it was not long before they were planning their own church. Within
two years of a meeting at Pleasant Point to discuss the subject, the first
Church of St. Alban became a reality.</p>

<div class="thumbnail">
  <%= image_tag 'ch6-2.jpg' %>
  <div class="caption">
    <p>The original Anglican Church situated on the corner of Acton &amp; Harris Streets.</p>
  </div>
</div>

<p>On 2nd October 1879, a little wooden-framed church with plaster walls and
solid totara beams was consecrated by the Bishop. The Diocesan Trust Board
had bought land on the corner of Harris and Acton Streets (where the Play
Centre now stands), from H.J. and F. Le Cren.</p>

<p>The church was built at a cost of five hundred and fity-seven pounds,
fourteen shillings, of which sixty-eight pounds, eighteen and sixpence was
raised in England by sisters of parishioner William Howell.</p>

<p>In 1881 Rev Chaffers Welch was appointed Vicar of Temuka and he
conducted services at The Point. Throughout 1882, plans were in motion to
create a parish in the district separate from Temuka and, on 13th January 1883
Rev. Welch relinquished his Temuka responsibilities to become vicar of Te
Ngawai parish.</p>

<p>With Pleasant Point as its base, the new parish had boundaries stretching
from Pleasant Point to the Pareora river and beyond Fairlie into the
Mackenzie Country with the Opihi river as its northern boundary a
formidable area for a vicar whose only means of transport was the horse.</p>

<p>After the resignation of Rev. Welch in 1883. Rev. T Hamilton was licensed
as temporary curate for six months until, on 30th December the same year.
Rev. Jasper Smyth was appointed vicar of Te Ngawai.</p>

<p>He became a well known personality as he rode around his extensive parish.
He was described as ‘the sporting parson’ because he owned a number of
greyhounds. The dogs accompanied him on his Sunday travels and enjoyed the
thrill of the chase as they hunted hares amongst the tussocks. Rev. Smith spent
nine years in the parish.</p>

<p>Rev. Hamilton again took up duties for a short period to be followed by
Rev. Stanley Hinson who established a record of thirty-one years as vicar.
During his curacy, a significant change of boundaries occurred. In 1907, the
Fairlie district became a parish in its own right, reducing the Te Ngawai parish
accordingly.</p>

<p>The original Vicarage, situated at 65 Te Ngawai Road and still in good
repair, was built for Rev. Hinson who planted many beautiful trees around it.
A big Wellingtonia still stands in the grounds today.</p>

<p>At the time the Vicarage was built, it was Diocesan policy to set aside ‘a few
acres adjoining the Vicarage to be used by the vicar for grazing the vicar’s cow
and horse.’ This glebe land remains the property of Church Property Trusts
and is the paddock between the old Vicarage (65) and Melody Lodge (101) Te
Ngawai Road. The Church Property Trust still owns other land in that area,
namely, where Read Engineering and Cyclemakers are situated, as well as the
paddock opposite which skirts the creek. Rent from all this ‘Endowment’ land
assists in payment of the vicar’s stipend.</p>

<p>Te Ngawai Parish has been richly endowed with such property. As well as
local land, the parish owned fifty acres in Fernside which was sold in 1959. It
had also been purchased with money raised by friends of Wm. Howell in
England, at a cost of three hundred and fifty pounds. In all, they raised four
hundred and thirty-three pounds twelve shillings in England for the parish ‘as
an endowment for resident clergymen and general Church purposes.’</p>

<p>Throughout the 1920-30s when the country was undergoing an economic
depression, the parish experienced financial difficulties. The problem was so
acute that, in 1932, a decision was taken to reduce the guaranteed stipend from
two hundred to one hundred and sixty-six pounds which the Rev. Oldham
agreed to accept. It was not until five years later that the parish finances had
improved sufficiently to restore the stipend to its former amount.</p>

<p>Rev. Oldham’s was the last of the clergy families to occupy the old Vicarage
in Te Ngawai Road. When he retired, his successor. Rev. Geoffry Schurr took
up residence in the present Vicarage in Harris Street which had been originally
built for the local doctor.</p>

<p>Mid-way through the second World War, the parish was again in financial
trouble and, at one time, its status as a parish came under threat with only
twenty-two pounds between success and failure. Fortunately, the extra funds
were found and the parish survived as such.</p>

<p>With the problems of the 1940s overcome, the next decade began with an air
of confidence and prosperity. When the Rev. Perkins took up duties in 1953,
the building of the new Church of All Saints at Cave was under way. It was not
long before he had plans for the replacement of St. Alban’s at Pleasant Point
to meet the needs of the growing community in the township.</p>

<p>The parish was fortunate in obtaining the site on the corner of Harris and
Munro Streets, directly opposite the Vicarage and Mr T.S. Gillies, who had
built All Saints Church at Cave, tendered successfully for the construction.</p>

<p>At weekends, young and old parishioners selected and carted suitable
boulders from local river beds for the walls of the new church and the
foundation stone was laid by the Rt. Rev. Bishop Warren on 26th May, 1956.</p>

<p>A year later, he returned to dedicate the completed church. It is interesting to
note that the altar rail and vestry doors from the old church were preserved
and reinstalled in the new church.</p>

<div class="thumbnail">
  <%= image_tag 'ch6-3.jpg' %>
  <div class="caption">
    <p>St. Alban's present Anglican Church.</p>
  </div>
</div>

<p>Another milestone in the parish was the dedication of the new Parish Hall
on 12th March 1967. This, too, was built by TS. Gillies and fulfilled a great
need in the community. Prior to this, an old wooden building, once the
Albury I.0.0.F. Lodge, had, in 1948, been transported from there to the old
church site to serve as a hall. It was later removed to the present church
property where it remained until construction of the new hall commenced. It is
still in service as the Marchwiel Anglican Church hall.</p>

<p>As well as St. Alban’s in Pleasant Point, the Te Ngawai Parish continues to
embrace St. David’s at Raincliff, St. Martin’s at Albury and All Saints at
Cave.</p>

<h3 id="clergy-of-the-te-ngawai-parish">Clergy of the Te Ngawai Parish</h3>

<table class="table">
  <tbody>
    <tr>
      <td>Rev Fynese-Clinton</td>
      <td>1879&ndash;1882</td>
    </tr>
    <tr>
      <td>Rev Chaffers-Welch</td>
      <td>1882</td>
    </tr>
    <tr>
      <td colspan="2">(both above as part of the Temuka Parish)</td>
    </tr>
    <tr>
      <td>Rev Jasper Smyth</td>
      <td>1883&ndash;1892</td>
    </tr>
    <tr>
      <td>Rev T. Hamilton</td>
      <td>1892</td>
    </tr>
    <tr>
      <td>Rev Stanley Hinson</td>
      <td>1892&ndash;1924</td>
    </tr>
    <tr>
      <td>Rev Duncan McPherson</td>
      <td>1924&ndash;1927</td>
    </tr>
    <tr>
      <td>Rev Charles Oldham</td>
      <td>1927&ndash;1939</td>
    </tr>
    <tr>
      <td>Rev Geoffrey Schurr</td>
      <td>1939&ndash;1946</td>
    </tr>
    <tr>
      <td>Rev R. J. Witty</td>
      <td>1942</td>
    </tr>
    <tr>
      <td colspan="2">(Priest in Charge)</td>
    </tr>
    <tr>
      <td>Rev F. L. Allen</td>
      <td>1946&ndash;1952</td>
    </tr>
    <tr>
      <td>Rev J. S. Perkins</td>
      <td>1952&ndash;1958</td>
    </tr>
    <tr>
      <td>Rev T. A. McKenzie</td>
      <td>1958&ndash;1960</td>
    </tr>
    <tr>
      <td>Rev R. Okey</td>
      <td>1960&ndash;1964</td>
    </tr>
    <tr>
      <td>Rev C. Clark</td>
      <td>1964&ndash;1968</td>
    </tr>
    <tr>
      <td>Rev S. Edwards</td>
      <td>1968&ndash;1973</td>
    </tr>
    <tr>
      <td>Rev J. Riley</td>
      <td>1972</td>
    </tr>
    <tr>
      <td>Rev Wm. Cunliffe</td>
      <td>1974&ndash;1980</td>
    </tr>
    <tr>
      <td>Rev G. Nicholson</td>
      <td>1980&ndash;1982</td>
    </tr>
    <tr>
      <td>Rev T. Alve</td>
      <td>1982&ndash;1989</td>
    </tr>
  </tbody>
</table>

<h2 id="the-roman-catholic-church">The Roman Catholic Church</h2>

<p>The first service held in Pleasant Point was about 1885 when Holy Mass was
said in the billiards room of the Railway Hotel. Later services were held in the
school in Harris Street.</p>

<p>The Rev. Father Flauvel was appointed Parish Priest of Temuka in 1876
and, just as the other two denominations had their local beginnings as part of
that parish, so too did the Catholics.</p>

<p>Before long, parishioners were setting their sights on a church of their own
in the township. At that time, the Catholic community owned two acres of
land near the site of the present public school but it was considered unsuitable
for the purpose and disposed of.</p>

<p>Mr Jas. O'Sullivan then donated a central site for a church and school
grounds and fund-raising began in earnest. The foundation stone of St.
Mary’s Church was laid on 30th December 1888 and, next day, the following
report appeared in the Timaru Herald:</p>

<blockquote>
  <p>Yesterday afternoon, Rt. Rev. Dr. Grimes, Catholic Bishop of
  Christchurch, assisted by local clergy, laid the foundation stone of a Catholic
  Church at Pleasant Point.</p>

  <p>Advantage was taken of the season and the railway to make the gathering
  for the occasion as large as possible by running a special train from Timaru.
  The afternoon was beautifully fine and about three hundred adults
  accompanied by a good number of children availed themselves of the means
  and opportunity to attend the ceremony. Early in the afternoon, traps of all
  kinds began to arrive and there was a long string of farmers, carts from the
  surrounding district, resting their wheels on a vacant lot nearby, and a good
  many smaller groups hard by.</p>

  <p>The train left Timaru a little after the advertised time, 2.30pm, and ran out
  in forty minutes, picking up a few passengers at Washdyke and Levels. The
  site of the church is immediately behind the railway passenger station,
  separated from it by a roadway only, and arrivals had no difficulty finding it,
  for a gay string of bunting, stretched on tall scaffold poles, was placed all
  round the foundations.”</p>

  <p>The foundations of concrete had all been put down, a vacancy being left at
  one corner to be filled with the formal ‘corner stone’, a small block of dolerite
  bearing the year ‘1888’ and this was slung ready for lowering into place.</p>

  <p>Soon after the arrival of the train, a small procession was formed at Mr T.
  Geaney’s cottage, a hundred yards away, to escort the Bishop and his
  assistants to the site...</p>

  <p>There must have been a thousand people on the ground, old and young, and
  the light summer dresses of the ladies, with bunting flying overhead, made the
  scene a bright one.</p>
</blockquote>

<p>Five months after the laying of the foundation stone, St. Mary’s Church was
almost completed and it was decided to hold a concert to raise money for the
building fund.</p>

<p>On Thursday evening, May 16th 1889, the building was filled to capacity,
four hundred people being present to witness a parish concert.</p>

<p>Anticipating wide support for the official opening of the church, an
advertisement in the Timaru Herald and Temuka Leader on 23rd May 1889,
stated that admission was by ticket only, five shillings per ticket, which would
admit a whole family.</p>

<div class="thumbnail">
  <%= image_tag 'ch6-4.jpg' %>
  <div class="caption">
    <p>St. Mary's Catholic Church today.</p>
  </div>
</div>

<p>The church was opened by Bishop Grimes on 26th May 1889. At the close of
the ceremony, a collection yielded eighty-five pounds, including money from
ticket sales. The total cost of the church was seven hundred and fifty pounds
approximately and, on opening day, a debt of three hundred pounds was
outstanding.</p>

<p>St. Mary’s was described as “early English” style of architecture known as
‘Perpendicular Catholic”. It is sixty feet long by thirty feet wide with concrete
foundations, brick walls finished with cement compo on the outside and
ordinary plaster on the inside. The open gothic roof is constructed of selected
rimu oiled and varnished.</p>

<p>About twenty yards from the church, Rev. Father Fauvel had built, at his
own expense, a two-room cottage where he could stay on his visitations to
Pleasant Point.</p>

<p>Mr Jas. O‘Sullivan, who had donated the church land, made a gift of bells
and, in 1896, Rev. Father Kerley had a tower added to the church and the bells
mounted.</p>

<p>Some time later, a three-faced clock was installed on the tower. It was made
by a Temuka watchmaker, Mr AB. Gytts in 1913.</p>

<p>It is said that Mrs Nelligan, a local lady of the township and wife of the hotel
proprietor, canvassed the district for money to purchase a ‘town clock’. There
were many irate residents — not of the Catholic faith — when it was
discovered that the clock was to adorn the tower of St. Mary’s but, by then,
she had collected sufficient money!</p>

<p>After seventy-five years as part of Temuka parish, Pleasant Point was
established as a separate Catholic parish in February 1952, Father E.J.
Brosnahan being appointed as the first Parish Priest. He took up residence in
the small, two-roomed cottage built in 1899 by Father Fauvel.</p>

<p>The need for a new Presbytery became apparent and many fund-raising
activities were organised towards this end. On 12th October 1952, Bishop
Joyce laid the foundation stone on the site in Kabul Street and it was followed
by many working bees by the men of the parish to defray the cost of the
building.</p>

<p>Within four months, the building was complete at an estimated cost of five
thousand, one hundred and sixty pounds. However, the many voluntary hours
contributed by parishioners reduced this cost to three thousand eight hundred
pounds.</p>

<p>The church sanctuary was considered too small for the needs of the parish,
especially for ceremonies such as an ordination so the confessional was
removed and a new one built at the rear of the church. A low extension, the
full width of the church by about twelve feet long, was added to the southern
end for a new sacristy. The old one was then removed, making the sanctuary at
least twice its original size.</p>

<p>These alterations were finished just in time for Pleasant Point’s first
ordination on December 18th, 1954. It was that of Father Paul Shirres, a local
boy of the parish.</p>

<p>In 1963, St. Monica’s at Cave became part of the Pleasant Point parish after
fifty years’ membership of Fairlie Parish.</p>

<p>The history of St. Mary’s Parish would not be complete without mention of
Kerrytown which had very strong affiliations with St. Mary’s when the
Kerrytown school and convent existed. In the early days, Mass was said on the
first Friday of each month and on St. Patrick’s day only. Benediction was held
every second Sunday.</p>

<p>In 1984, it was announced that Pleasant Point was to lose its parish Priest,
although still remaining a parish in its own right. It has since been serviced
from Temuka.</p>

<p>The social life of the parish centred around the ‘Cottage Hall’, a building
moved from Waitohi in 1948 at a cost of eighty pounds. Euchre evenings,
social gatherings and meetings were all conducted there. In 1967, “Cottage
Hall” was replaced by ‘Kerry Hall’, shifted from Kerrytown where it had
served as a school for the Catholic community.</p>

<h3 id="parish-priests">Parish Priests</h3>

<p>From the time of Rev. Father Fauvel’s appointment as first parish priest of
the district, centred at Temuka, many others served and assisted in St. Mary’s
Church. The following have served since St. Mary’s became separate parish:</p>

<table class="table">
  <tbody>
    <tr>
      <td>Rev Father E.J. Brosnahan</td>
      <td>1952&ndash;1957</td>
    </tr>
    <tr>
      <td>Rev Father Daniel Healey</td>
      <td>1958</td>
    </tr>
    <tr>
      <td>Rev Father Joseph Kelly</td>
      <td>1958</td>
    </tr>
    <tr>
      <td>Rev Father Patrick Joyce</td>
      <td>1959</td>
    </tr>
    <tr>
      <td>Rev Father John McHale</td>
      <td>1960&ndash;1961</td>
    </tr>
    <tr>
      <td>Rev Father Peter O’Hara</td>
      <td>1961&ndash;1967</td>
    </tr>
    <tr>
      <td>Rev Father Kevin Clarke</td>
      <td>1967&ndash;1968</td>
    </tr>
    <tr>
      <td>Rev Father Leo O’Connor</td>
      <td>1968&ndash;1973</td>
    </tr>
    <tr>
      <td>Rev Father D.K. Sullivan</td>
      <td>1973&ndash;1983</td>
    </tr>
    <tr>
      <td>Father Horgan</td>
      <td>1983</td>
    </tr>
    <tr>
      <td>Father Clenaghan</td>
      <td>1984&ndash;1985</td>
    </tr>
    <tr>
      <td>Father Middleton</td>
      <td>1985</td>
    </tr>
  </tbody>
</table>

<h2 id="the-convent">The Convent</h2>

<p>The sisters of St. Joseph’s Convent have had a strong influence on the religious life
and education of the parish.</p>

<p>The convent, standing on the corner of Afghan and Khan Streets, was established
in 1927. Origianally built for a Mr Butchers, it had been the property of Dr
Patterson, local G.P., when purchased for twelve hundred pounds.</p>

<p>This building served as the convent until 1987 when the sisters moved into
the Presbytery. In its heyday, it accommodated seven sisters and many local
Children received their music tuition there.</p>

<p>Children from the public school came for tuition during their lunch hours
and those living close to the township came after school.</p>

<p>After the departure of the parish priest to Temuka. Sister Bertrand
undertook parish duties in the community. Her work for all in the district after
the March 1986 flood will be remembered.</p>

<p>The old convent is now let but plans are afoot for the property to be
replaced by flats for the elderly of the district under the auspices of the St.
Vincent de Paul Society in association with St. Mary’s Parish Council.</p>

<p>Today, these three denominations are united in the religious life of the
district. Combined services in Nine Lessons and Carols at Christmas time.
World Day of Prayer services and combined activities such as the Wool
Festival, an annual event instigated in 1984, demonstrate the part our local
churches are playing in the ecumenical movement.</p>

<h2 id="the-gospel-hall-brethren">The Gospel Hall Brethren</h2>

<p>“In 1883 Mr and Mrs James Agnew along with Mr and Mrs William Exell
commenced gathering to the precious name of the Lord Jesus in a little cob
cottage which was the Exell home.”</p>

<p>By that time, James Agnew was a well known figure as he rode from door to
door handing out Gospel tracts. It was easy in those days to knock on the door
with your stick whilst remaining on horseback and, as an lrishman would,
have a chat with the householder before moving on. He had been converted
during the ’39 revival in Ireland and he wanted others to share the experience.</p>

<p>Without doubt, the young widow Elizabeth Exell was equally well known
as, in her capacity of midwife, she Visited the homes of the district and brought
many ‘bonnie bairns' into the world of Pleasant Point.</p>

<p>Soon others joined the assembly. There was james Gliddon, a sailor from
England who had met with the Brethren in Plymouth and Archie Carson from
a similar background in Ireland. Bob Knox, also from Ireland, used to tell
how he had been deeply convicted of sin and converted when working as a
teamster on a Totara Valley farm. He joined the fellowship about 1900.</p>

<p>Some years before that it had become obvious that the Exell cottage was too
small to accommodate the growing congregation and Alex Agnew added a
suitable room to his parents’ limestone house at 110 Te Ngawai Road which
was used until the beginning of this century.</p>

<p>In the meantime, the Oddfellows Hall had been built, offering a central
meeting place which was readily let for Sunday services and other functions
and finally purchased by the Brethren when the new Town Hall was built in
1928.</p>

<div class="thumbnail">
  <%= image_tag 'ch6-5.jpg' %>
  <div class="caption">
    <p>The Gospel Hall, Maitland Street, originally the Oddfellow's Hall.</p>
  </div>
</div>

<p>In the mid 1890s, Archie Carson married Mary, the Exells‘ only child. This
was one of several weddings solemnized at a Brethren meeting in the
Oddfellows Hall as young People of the district associated with the little
company. Here, the Agnew girls met and married james Gliddon, Richard
Redcliffe, John Crawford, James Esler and Alex Robinson respectively. There
were already a number of third generation Agnews before the turn of the
century from whom Bob Knox chose his bride, Isa.</p>

<p>George and Alex Gliddon had both married and settled in the district so
that, when the Goslings arrived from Bluff and, in 1910, the Lienerts from
Southland, there was a thriving Sunday School.</p>

<p>When the Bob Davie family came to live in the little house on the corner of
Russell and Harris Streets, Alice (Ada) Botherway was their maid. Through
Mrs Davie, she joined the Brethren, was baptised and, before marrying Bill
Pettigrew of Timaru, associated with the local believers. For a number of
years, the baptisms took place in the creek near the Sawmill or at Murphy‘s
Crossing.</p>

<p>In 1912, Mrs Jas. McLeod of Taiko brought young Victor Wilson from
Mosgiel who later married Rona Gliddon. Mrs McLeod expertly supervised
the catering for the annual Easter Conference first held five years after her
arrival. Her efforts also saw the Stratheona girls at Sunday evening meetings
and may have influenced the Plunket Society in the choice of the Hall
cloakrooms for their clinic.</p>

<p>When from about 1900 meetings were held regularly in the ante room of
the Oddfellows Hall suitable furnishings were introduced. A kauri cupboard
was purchased for 2 pound 10 shillings in 1909 and another cheaper one in
1911. A curtain and lamps were also provided and wall decorations in the form
of a large poster about ‘Man's Ruin and God‘s Remedy’ and a small chart of
‘The Two Roads and Two Destinies’.</p>

<p>A street lamp and extra hymn books were purchased to encourage the
singing at Open Air services which were conducted under a big pine tree where
Atkinson and Dossett’s garage now stands. The pine tree provided shelter for
larrikins as well as for singers and preachers!</p>

<p>The company was further swelled when the Cramptons bought a farm at
Sutherlands and the Cecil Smiths moved from Mona Vale to the “White
Elephant” in Te Ngawai Road. Also on that road lived Mr Butler, noted for his
singing. When, during the 1914-18 war, some of the boys went off to the
Front, a Belgium Fund was started.</p>

<p>From time to time, overseas evangelists would visit and hold a series of
meetings at which many would claim to have been converted. Amongst them
was Forbes McLeod from Scotland at whose meeting Mr Wilkin the
gravedigger and his wife were converted. Their daughter married Tom
Monteith who came from Ireland in 1925 and lived in Pleasant Point until the
1986 flood.</p>

<p>Lily Barker who worked at Gosling’s Store, had been saved through Blind
Johnstone at the Presbyterian Church but had learnt of baptism by immersion
from Mr Gosling. Jean Welch of Welch’s Bakery had attended Sunday School
with Olive Knox since 1924 but was saved during a meeting conducted by Mr
Stout of the Shetland Isles in 1929.</p>

<p>As soon as the Oddfellows Hall became Brethren property, they sold a hut,
an outbuilding the carbide plant and two doors for the total sum of 19 pound
2 shillings and sixpence. At the same time 152 pounds 16 shillings and 1 penny
was spent on lawyer's fees, electrical work, carpentry, joinery, painting,
blacksmithing and a Town Board licence. Although everyone lent a hand
responsibility for the work was shouldered by local tradesmen associated with
the Brethren.</p>

<p>Willie Wilson with his apprentice Rowlie Gliddon put in the wall between
the extension and the main hall, thus providing a supper room large enough to
seat 100 at tables as well as a small side room. E.T. Lienert made a substantial
surround of Southland beech wood and an adjustable lectern for the old stage.
Jim MacMillan saw to the painting and Alex Gliddon the smithing. The old
carbide shed became a dry closet for which sanitary fees had to be paid.</p>

<p>Soon, tables and trestles, a railing heater, a new stove, curtains and a sign all
helped to give the hall a new look to match its new name of ‘Gospel Hall’.
Linoleum was laid in 1937 and more electrical work done in 1939. It is not
clear when the copper was set outside the back of the ante room and a
servatory made to receive the boiled potatoes.</p>

<p>It was in 1929 that E.T. Lienert made the first motorised Bible carriage to
replace the old horsedrawn one which had been used for taking ‘the Word’ to
outlying areas. In his enthusiasm, Mr Lienert forgot to take into account the
size of the van and was somewhat nonplussed to find that the finished article
would not go through the door of his workshop!</p>

<p>In 1930 Peggy Smith was commended as missionary to Argentina and, in
1938, to Uruguay with her husband Bill Goodson. This was a Brethren
wedding of note when they were married at the Gospel Hall before leaving for
Uruguay where they still live with their family. The romance, it is said,
originated from a love for the Spanish language.</p>

<p>The second World War brought an interest in Burnham Camp and the
cancellation of the Easter Conference and, when the latter was recommenced,
the catering responsibilities were in the capable hands of Mrs Rowlie Gliddon.
The 1983 Conference became a Centennial with "descendants of some of the
earlier members present and many from all parts of New Zealand who had
previous associations with the assembly".</p>

<p>The demise of the old carbide shed came in 1976 when the sewers were
introduced. Two toilets were built into a front cloakroom by Richard Earl who
had purchased the 2 roods 27 perches of adjoining land.</p>

<p>Mr and Mrs Jim Rogerson came from Southland in 1969 and, in 1986, Mr
and Mrs Gabites arrived from Otago. The Sunday School, which had lapsed
for some years, was revived and the picnics at Pioneer Park again became
memorable occasions even if the tea meetings can hardly be compared with the
early bun fights.</p>

<p>The next major operation came as a result of the 1986 flood which swept
through the entire building. Insurance payments, private gifts and gifts from
other Open Brethren Assemblies brought in a total of $12,000 and more which
made major repairs possible.</p>

<p>The floors of the main hall were covered with hardboard and carpeted, a
removable wood partition replaced the curtain dividing the main hall in two,
the 1897 extension was completely reroofed and part of it was jacked up to
renew the piles. A large Zip water heater, a sink bench and cupboards
revolutionised the ante room and the whole building received a fresh coat of
paint in time for the 1987 Easter Conference.</p>

<p>Well known for its excellent accoustics and uncomfortable seating, the
Gospel Hall has been the venue for the Good Friday meeting since 1917 when
the unaccompanied singing is something to be heard.</p>

<p>Nowadays a caravan with Bibles and other Christian literature is taken to a
number of A and P shows, thus continuing in a small way, the tradition of the
old Bible Van.</p>
