<div class="page-header">
  <h1 id="the-changing-business-scene">The Changing Business Scene</h1>
</div>

<p>Time has wrought changes upon the commercial sector of the township but,
throughout its history, businesses have come and gone according to the needs
of the community of the day.</p>

<p>Up until the 1930s, horses were the most used means of transport and each
farmer kept a team of four to six. Consequently, there was a constant demand
for blacksmiths, wheelwrights and saddlers.</p>

<p>At the turn of the century, three blacksmiths were trading on the triangle
formed by Maitland Street and Main and Te Ngawai Roads in close proximity
to the livery stables and the hotels. A fourth blacksmith was established on
what is now the playing area next to the Town Hall.</p>

<p>The internal combustion engine brought about a decline in these trades as,
during the 1920s and 30s, motor cars and tractors replaced the horses, and
garages began to replace the blacksmiths.</p>

<p>Then, in the 1930s, the Great Depression began to have its effects on the
township and several businesses were forced to close. Although the demand
for services was Still there, the money to pay for them was lacking.</p>

<p>A garage proprietor of that era tells how he worked for six weeks without
collecting one penny for his labours. The crunch came when a client who had
owed him 25 Pound for a long time, asked him to square it off at 20 Pound.
On being paid 21 Pound, the proprietor decided to cut his losses and quit.</p>

<p>After the war, rising wool prices brought prosperity to the farmers. More
mechanisation in agriculture created a demand for engineering workshops.
New houses began to replace the old and the building trade flourished. The
increasing number of dwellings brought about demands for better shopping
facilities and empty shops once again became occupied.</p>

<p>By the 1960s, people began to appreciate the benefits of living in a small
community in preference to the city. Good roads, cheap petrol and ready
access to the town meant more and more people were happy to commute daily
to work in the city and elsewhere.</p>

<p>Sub-division of farmlets on the perimeter of the township made building
sections readily available at lower prices than those in the City. The completion
of a sewerage system further enhanced the desirability of living in Pleasant
Point so that, today, sections are scarce and at a premium within the township
boundaries.</p>

<p>In our changing life Styles, the Supermarket has replaced the general family
grocery stores and the local bakeries. In days gone by, the grocers made
deliveries in the outlying areas on a regular basis. Orders for the weekly
delivery were made by telephone and duly despatched on delivery day. Two or
three delivery runs a week into various district were not uncommon.</p>

<p>Similarly, the bakers made their rounds with freshly baked bread until
centralisation of bakeries with high-scaled production brought about the
collapse of small, local bakeries.</p>

<p>To appreciate the changing scene over this century, it is perhaps easiest to
site the businesses long since gone in relationship to those which operate today.</p>

<p>So, starting at the western end of the Main Road where Pleasant Point began,
let us move through the town and picture those former years.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-1.jpg' %>
  <div class="caption">
    <p>Welch's Bread delivery cart.</p>
  </div>
</div>

<p>On the corner of Maitland Street and Main Road, Mr Andrews had his
blacksmith shop. Over the years, the names associated with this business
include Wells, Mulligan, Hammond and Zwarts but it remained a blacksmith‘s
for many years. In its latter years it specialised in the manufacture of farm
machinery under the proprietorship of David Read. He built a new concrete
block building and demolished the original corrugated iron shed.</p>

<p>After gaining a market in Australia for hay feeding machinery, his business
expanded rapidly. Staff increased from three to eighteen and the workshop
became inadequate. When, in 1982, the Church land in Te Ngawai Road was
zoned industrial, plans went ahead to build a new workshop and offices there
and this was completed two years later.</p>

<p>In the meantime, however, the business was sold to Dalgety Ltd. They
continued manufacturing as Read Engineering until they were absorbed by
Challenge Corporation whereon the Pleasant Point operation was closed
down.</p>

<p>Another blacksmith’s, originally owned by Cameron and later by Burgoine,
Gibson and Kennedy, functioned on the corner of Maitland Street and Te
Ngawai Road. The business was carried on into the 1970s by Rose and
Stevenson. It, too, has been replaced by a bigger, concrete block workshop
under the proprietorship of Keith Stowell who operates an engineering business.</p>

<p>Next to the Andrews smithy, Mr W. Wakefield had a car body repair and
paint business for some time. It was once a garage owned by Syd Gray but had
been forced to close during the depression.</p>

<p>About 1910, Mr ET. Lienert took over the wheelwright and coach building
business in the middle of that block previously owned by J. Elder and later his son,
Don. He built gigs, spring-drays and waggons and it was not unusual to see 20 to 30
different types of wheels in his yard and workshop waiting to be fitted with steel tyres.</p>

<p>As later modes of transport developed, Mr Lienert supplied and fitted solid
rubber tyres and, for a time, was involved in building motor bodies. In the mid
1920s, he began manufacturing mauls. The rings for them were forged out of
old gig tyres, worn by road use to a half-round section. The mauls were sold
under the brand name ‘Hard—hitter’ which soon became known throughout the
country with agencies as far away as Auckland. Soldiers of World War II
recounted seeing them in use in Egypt and the Pacific.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-2.jpg' %>
  <div class="caption">
    <p>View of Maitland Street &amp; Main Road taken about 1910, with the original coach and wheelwright
    building in the foreground. When owned by D. Elder it included an undertaker's business. The butcher's
    shop is on the right.</p>
  </div>
</div>

<p>After much perseverance to perfect the tempering process, the factory
manufactured a good quality slasher which became popular with foresters and
scrub—cutters. From this, they moved into other tools such as grubbers, bag
and bale hooks, crowbars and so on.</p>

<p>Business expanded as the Lienert name became well known throughout the
country and, in 1946, a company was formed, the three share holders being Mr
E.T. Lienert and his sons Eric and Rex. This was the only firm in New Zealand
manufacturing these products and, in a year, they produced 38,000 fine-edged
cutting tools of several patterns. Spring work and gas and electric welding were
specialties.</p>

<p>After Mr Lienert senior’s death in 1956, his sons carried on the business for
another twenty years. It was then sold to Messrs Guthrie, Joyce and Hessell
but continued to operate under its original name. In the 19805, inﬂation
increased production costs to the extent that hand—forging became uneconomic
and experiments with other methods resulted in a poor product. In 1984, fire
destroyed the old factory building and the firm closed down.</p>

<p>So ended a prosperous era and one that provided much needed employment
in a country town. During its life, E.T. Lienert Ltd employed over four
hundred workers and earned a respected name in the manufacturing world.</p>

<p>Next door, the butcher’s shop established by Acton continued to function for
some years under J. Cunningham until he forsook this occupation for that of
stock agent. The shop then remained empty until it was demolished to make
room for extensions to Atkinson and Dossett's garage.</p>

At the turn of the century, the Pleasant Point Hotel on the corner where the
<p>garage is now located, was a thriving business. A two-storied brick building
built round the original accommodation house, it comprised thirty rooms in its
hey-day — 15 bedrooms, 8 sitting rooms, a dining room which seated 40
guests and a commodious billiards room, always popular with the patrons.</p>

<p>A small shop attached to the hotel functioned first as a saddlery business
owned by Paddy MacAteer and later as a bicycle shop run by Frank Birse. The
adjoining livery stables contained 24 stalls and 4 loose boxes.</p>

<p>This hotel remained a popular landmark until it was gutted by fire in
December 1927. Licensing laws were such that a liquor bar had to be
functioning within 24 hours for the licence to be retained. This clause was not
observed and the licence lapsed. Thus ended a colourful span in the history of
the township. Names associated with the Point Hotel over the years were:
McIlwrick, Edwards, Josephus Murphy, Con Burns, John Murphy,
O’Sullivan, O’Donnell, McKay and Peach.</p>

<p>On the hotel site, Mr Wm. Field set up a small service station about 1930.
Later owners were Gordon Gliddon and Alan Woods and from these small
beginnings, it became a servicing garage run by Greenwood Bros. It was
eventually taken over by Atkinson and Dossett who expanded the business to
what it is today.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-3.jpg' %>
  <div class="caption">
    <p>Field's Service Station built on the site of the original accommodation house; now Atkinson and
    Dossett's Garage.</p>
  </div>
</div>

<p>On the opposite corner of Main and Te Ngawai Roads, The Railway Hotel
also carried on a thriving business until it, too, was destroyed by fire on 29
January, 1911. Then known as Nelligan’s block, (he being the proprietor at the
time), it consisted of four buildings housing J. S. Chisholm’s grocery, Mr
Murphy’s butchery, another shop and Mr Harker’s bakery.</p>

<p>Following the fire, a tin shed was quickly erected to serve as a bar, so
enabling the licence to be ratained. For a short time, the bar was transferred
to the baker’s shop in Te Ngawai Road but no time was lost in replacing the
hotel. A report in the Timaru Herald on 5 August, 1911 describes: “The
mmpletion of a first class hotel of forty rooms complete with Billiard room of
latest design and its own power-house to generate electricity for lighting.”</p>

<div class="thumbnail">
  <%= image_tag 'ch4-4.jpg' %>
  <div class="caption">
    <p>The ‘Hotel Corner’ about 1900.</p>
  </div>
</div>

<p>It remained a popular hotel accommodating people employed in the district
but having to live away from home. A shop was included at each end of the
new building and, over the years, the businesses carried on in them have been
many and varied.</p>

<p>Mr Cyril Collins had a men’s outfitters, Miss Friel, a lingerie shop, Miss
Norah Kelliher sold confectionery, as did Miss Bryant after her. This shop is
now a bottle store. The shop on the Te Ngawai Road side of the hotel was Alan Brooke’s bicycle
shop. It remained empty for many years and then, in the 19705, it again had a
short session as a cycle shop but it is now used for storage.</p>

<p>Proprietors of the Railway Hotel have been numerous. They include
Nelligan, Jopp, Allington, Miss Wall, Woods, Doyle, Mitchell, Richardson, Hardy,
Yates, Procter, Conroy and Newsome.</p>

<p>The associated stables were situated on the Te Ngawai Road entrance side of
the hotel. Further stables known as ‘Petrov’ had an entrance way between the
Hotel and the supermarket.</p>

<p>From the time the original iron building was erected in 1878, the
Supermarket has always housed a general store. For many years it was known
as McKibben’s store as he was the first owner of the present building. (His
name can still be seen on the plaster facing 0f the upper storey). Bachelor,
Oswald Jones, Hitchcock, Wilson, O’Rourke, Hoskin Bros. all served the
town as grocers in this store. In 1964 it was taken over by the Canterbury
Farmers’ Co-operative Association and is now run as a Supermarket by
Smith’s Wholesale Grocers.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-5.jpg' %>
  <div class="caption">
    <p>Manse Hill Corner showing the original Boarding House and the ill-fated Orange Hill foundations.</p>
  </div>
</div>

<p>Next door, where the Supermarket yard is, A.L. Thoreau ran a
‘Handyman‘s' business. Grain threshing, picture framing, making farm
troughs, etc. were some of the services offered. In the late 1930s, he moved
into the shop once owned by Strachan and set up a second hand dealer’s
business.</p>

<p>After the hotel fire of 1911, R. Murphy built a new butcher‘s shop on the
corner of Morris Lane and Main Road. It remained the local butchery until
1979 when it was moved into the new shopping complex. Local butchers have
been Green, F. Friel and his son jim, and Fitzgerald. For a short time, Dave
Allnutt operated a plumbing business from the old shop and at present, it is a
Fishing Tackle shop.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-6.jpg' %>
  <div class="caption">
    <p>The Saddlery and Tailor's shop where ‘Rainbow's End’ now operates. W.T. Taylor and C.T. Borrel in front.</p>
  </div>
</div>

<p>In 1904 a saddlery business was started in what is now the Craft Shop and on
the side nearest the garage, W.H. Cox ran a tailor’s business. The Saddlery
was bought by Mr John Forno in 1911 and later leased to Ernest Workman for
seven years. In 1914, however, he sold it to John Hennessy whose wife became
owner in 1924. Later that year, she leased it to Chas. Borreil for five years.
When he shifted to Geraldine, his assistant, W.T. Taylor, who had worked
there since 1920, became the saddler and, in 1936, bought the shop from Mrs
Hennessy.</p>

<p>After World War II, Doug Smith trained as a saddler aid managed the
business after W.T. Taylor moved to the North Island. Eventually, after Mr
Taylor’s death, Mr Smith bought the business and continued until his
retirement in 1986.</p>

<p>In 1946, Mr Taylor purchased from GP. Chapman, the shop originally
owned by Mr Cox and ran it as a footwear department in conjunction with the
saddlery. At one stage, this shop had also been used as a second-hand dealer’s
by Mr Thoreau. Structurally, the building has changed little since it was built
in 1904. It is characterised by a hitching post which has been there since that
date.</p>

<p>The original McKibben’s store, situated where Pleasant Point Motors now
operate, had a varied history while it existed. After being a grocery, it became
a bicyle shop owned very early in the century by Bob Knox. When, in 1914, he
moved his business further down the street, Mr Gosling turned it into a fruit
and confectionery shop. Later, part of it became a Barber's Shop with an
adjoining billiards saloon run by Bill Mackie who, because of his wooden leg,
was always known as ‘Crutchy’.</p>

<p>This building ended its days as a homestead at 18 Te Ngawai Road where
Mrs Nelligan, the purchaser, converted it into a sophisticated dwelling of its
day. It remained there until demolished after the 1986 ﬂood.</p>

<p>According to Mr Wells, the site was bought out by Mr Jopp, hotel
proprietor but Mr Mackie’s lease had not yet expired. Consequently, the
garage had to be built in two sections. The back part was built first and the front was
built after Mr Mackie’s lease had expired. Mr John A. Smith was the first garage
proprietor and subsequent ones have been Bradley Bros; Howey and Sons, Small,
Paul &amp; McFadgen and later, W. Johnston &amp; G. Howey partnership, Robin Neale
and Brian Schimanski.</p>

<p>When Goslings started their fruitery, Miss Dunne closed her sweet shop, once
owned by Dixon which was somewhat back from the road on an adjoining section.
This building also became a residence at 2 Miro Street, likewise demolished as a
result of the ﬂood.</p>

<p>About 1924, Mr Jopp erected ’Jopp Buildings’ on the site and businesses in
this block have also been many and varied.</p>

<p>Gay’s Gift Shop was, for many years, the tobacconist and Barber’s. At the
back of the shop was a billiards saloon which became very popular after 6
o’clock closing was introduced. Over the years, Jack Elder, Val Forbes, Taffy
King, O’Brien, O’Rourke, Grant and Hewitt have all been proprietors of this
shop. They were followed by Cliff Lamb who purchased the Jopp Buildings.</p>

<p>Of the two shops now occupied by the taxidermist, the one next to Gay’s
was Mr Probert’s Pharmacy, Kalksma’s Skin Treatment Rooms and Doctor’s
Surgery. The other was Mr Rendall’s Florist and Green Grocer’s, but, during
the depression, both shops were empty for a long time.</p>

<p>After the war, the end shop reopened as a grocery for a short time and
then Mr Gair set up his General Dra ery in it, moving there from Clontarf
House. After that it was a fish and c ip shop, then a clothing factory retail
outlet. Finally, Mr O’Rourke purchased the Jopp Buildings and transferred
his Taxidermy practice to the premises. He had originally operated at Clontarf
House.</p>

<p>The bakery stirted by Adams in the 18905 continued as such until 1964 when
the building was demolished. Owners included Woodward Bros; Delaney,
Ingram, Stevens and lastly, P.J. Bowman followed by his son Len. Mr
Bowman purchased the bakery in 1924 and his Tea Rooms became noted for
the hot meals served there. He also catered for local weddings in the Town
Hall and, for many years, had the contract for catering at the saleyards.</p>

<p>Following World War I, half the shop became the agency for the Bank of
New Zealand (perating from Timaru. The bank employee came out on the
morning train and returned to Timaru on the afternoon one. Bank days always
coincided with sale day.</p>

<p>When the building was demolished, Pyne Gould Guinness built the big store
now occupied by Shortus’s General Store and established a stock and station
agency. The economic decline in the farming industry over the past decade led
to the closure of this business in 1986. The old bakehouse still stands at the
back of the section and serves as a trading post in conjunction with Shortus’s
Store.</p>

<p>The Education Department Bus Depot had its beginnings as a Motor and
Cycle Works run by Mr Knox when he moved from his previous business. It
was later taken over by Smith and Agnew partnership followed by John A.
Smith and, lastly, Tom Forrest. It was always referred to as the Blue Garage.</p>

<p>When under the management of J.A. Smith, it was burnt out and he then
transferred his business to Pleasant Point Motors. The building remained
vacant through the depression and was next used when taken over by the
Education Department as a depot and servicing garage for the school buses.</p>

<p>On the corner of Halstead and Main Roads, Lambert’s Chemist Shop served
the public for many years. After Mr Lambert’s death in 1914, Barnett’s
Pharmacy of Christcl ‘lI‘Ch acted as relieving chemist. Mr H.C.L. Dossett, who
had been in partnership with Mr Lambert, ultimately took over and changed
the business to a grocery which he operated until the late 1940s.</p>

<p>At the same time, Mr Dossett operated a taxi service in the township as well
as driving the District High School’s first school bus.</p>

<p>For a short time, the shop was in the hands of Mr Cross before being
purchased by Mr V.L. Burt who ran it for many years. It was closed down on
his retirement and then opened as a plant shop for a brief period. Finally, it
was destroyed by fire and the section on the corner where this once busy shop
stood is now empty.</p>

<p>On the opposite corner, Mr Bob Knox established a Drapery in the early
1920s. Having forsaken the cycle trade, he continued in this business until 1939
when Smith’s Open Warehouse of Timaru took over and set up a branch there.
After the war. Mr Don Fletcher converted the building into a garage and it has
operated as such ever since. Mr J. Dockerty and Sons became owners and his
son Mervyn still manages the business.</p>

<p>The Dairy opposite the railway began as a cabinet maker’s shop about 1908.
It was owned by Zaccnari Berri who also conducted an Undertaker's business.
It is said that he carried a ruler with him wherever he went just in case business
came his way!</p>

<p>When Pleasant. Point Motors was established, Mr Gosling moved his fruit
and confectionery business to the Dairy and stayed for many years also selling
school stationery. The shop has continued in this line of business ever since.
Among other owners have been Williams, Cowie, Lindsay, Beynon, Gregory and,
Kennett.</p>

<p>On the site where the new shopping complex is situated, W.J. Oborn ran a
bootmaker’s business for many years and F. Wilson had a wood and coal
merchant’s yard. This yard later became Gould’s Cartage Depot.</p>

<p>Fire destroyed the Bootmaker’s in the 19405 and the business ceased to
function. When restored, the premises housed the first Fire Brigade.</p>

<p>Next door to it, Mr Stan Cook built another milk bar and tea-rooms in 1963
which was attached to his house. The business was expanded into a grocery
and, like the other Dairy, operated a seven day service. The business was
managed by Walsh, then Smith before being destroyed by fire in 1988.</p>

<p>Reticulation of electricity in country districts in the 1950s created the need
for an electrician in the township. Mr Davison set up business where the
present Veterinary Service is housed. He was succeeded by Paul Wilkes and
then Peter Cross before the Veterinary Service was established in its place.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-7.jpg' %>
  <div class="caption">
    <p>Afghan Street early this century.</p>
  </div>
</div>

<p>A small business area functioned in Afghan Street from early times. The
original Saddlery later became the ‘Haerei Mai’ Grocery run by the Geaney
family. In 1911, Mrs Geaney built a two-storey building named Clontarf
House at the western end of Afghan Street. The upper storey was living
quarters and the lower a shop, originally a Drapery. Frank Birse once used it
for his cycle shop and, for many years, it was unoccupied. For a short time
after the war, both Smith’s Open Warehouse and Mr Gair rented it as a
Drapery. G.D. O’Rourke then purchased the building and started up his
Taxidermist business until it was transferred to the premises on the main Road
and Clontarf House was demolished.</p>

<p>The original Chemist shop on Afghan Street became a dressmaking business
run by the Misses McIntyre and Hamilton when Mr Lambert vacated the
building. It continued so until 1912 when the existing Post Office building was
built.</p>

<div class="thumbnail">
  <%= image_tag 'ch4-8.jpg' %>
  <div class="caption">
    <p>The township in 1920's.</p>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag 'ch4-9.jpg' %>
  <div class="caption">
    <p>The township in 1913.</p>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag 'ch4-10.jpg' %>
  <div class="caption">
    <p>Afghan Street showing Post Office and Contarf House.</p>
  </div>
</div>

<p>The Strachan store in Te Ngawai Road continued as a grocery until the late
1930s. Subsequent owners were Campbell and W. Thomas, then it became a
second hand shop run by AL. Thoreau.</p>

<p>The bakery next door, started by Collins was continued by McAlister. For a
short time early in the century, it was a butchery and, after the Railway Hotel
fire, it became a temporary liquor bar to enable the hotel to retain its licence.
In 1912, it was purchased by Geo. Harker whose bakery had been destroyed in
the fire. Mays and, later, Welches carried on the business and a tea-rooms was
run in conjunction with the bakery. When Mr Welch‘s daughter jean closed
the business in 1964, the property was bought by Cook and Sons. In the 1970s,
a Panel Beater erected a building and set up business on the site but the
building is now vacant.</p>

<p>In Maitland Street, George Saunders had a threshing mill yard and his
cousin Mark had a work shop and junk yard. A fish shop once functioned in
this area, presumably near where the joinery factory now stands.</p>

<p>Another threshing mill yard, owned by J. Tozer, was situated on the Main
Road and one owned by Wm. Clarke was between Harris Street 81 Main Rd. Both are
now full of houses. In the same block in Harris Street, Miller Patrick owned a
chaffcutter. These machines all became defunct with the advent of the header.</p>

<p>A dairy factory had been proposed as early as 1888 but, presumably, the
required number of shares to set it up did not eventuate. In March 1902,
another meeting was held under the direction of South Canterbury Dairy
Company. The required four hundred five pound shares must have been
subscribed as the Creamery opened in October I902. Its ’wood and iron
building with concrete foundations’ is still standing, having been converted
into a private residence many years ago.</p>

<p>Situated at 19 Halstead Road, the Creamery was described as being well
equipped with an engine, a boiler and a 510 gallon Crown separator. Cream
was supplied by farmers as far out as Sutherlands, the lower end of Totara
Valley and Waitohi and Kerrytown. Cows milked in these areas totalled 170.</p>

<p>Mr John Thomson managed the Creamery and the cream was sent daily to
Timaru. The skim milk was collected by local residents for feeding their pigs.</p>

<p>Further along Halstead Road where there is now a children’s playground.
Wm. Halstead had a fellmongery. Long before the turn of the century he was
scouring the wool from the Levels Estate. To do this, he dammed up the
School Creek and built a ﬂume for the water to run into two concrete tubs
where the wool was scoured. It was then spread out on sheets on the ground to
dry. Mr Halstead’s son Ellis continued the business after his father died. He
specialised in wool-classing, dealt in sheep, skins and crutchings and even gave
wooleclassing instruction to the pupils at the District High School.</p>

<p>For some time, a communal woolshed stood in Halstead Road. An old tin
shed, originally Mark Saunders‘s workshop, was shifted to a site opposite the
Plunket Rooms and local residents with small flocks of sheep could take them
there to be shorn, etc.</p>

<p>In the building trade, Willy Wilson, who lived in Matai Street, was
responsible for building many of the houses of the 1920-40 era. His
apprentices, Rowlie Gliddon and Keith Candy ultimately set up on their own
account.</p>

<p>After World War II Mr Tom Gillies established a big building business in
Totara Street which included a joinery factory. At the peak of his operation he
employed fifteen to twenty men and undertook many of the big construction
works in and around the district.</p>

<p>The business was later taken over by Noel Guthrie who established a wood-
turning lathe to turn handles for the Lienert factory which he had also
acquired. The building side of the business was gradually run down as demand
lor housing fell off in the late 1970s.</p>

<p>Over the years, there have been allied tradesmen such as painters and
puperhangers in the township, W. McMillan, T. Corlett and H. Dykstra being
examples.</p>

<p>Today this is all past history but each of these businesses answered to the
needs of the community in its day.</p>
