<div class="page-header">
  <h1 id="education">Education</h1>
</div>

<h2 id="pleasant-point-public-school">Pleasant Point Public School</h2>

<p>The first reference to the early days of schooling in Pleasant Point is
contained in a report in the Timaru Herald on Saturday, 24th October, 1868,
which published the following:</p>

<blockquote>
  <p>On Monday last, a daily school was opened at the Point by Miss Jagger,
    daughter of Mr Jagger of the Timaru School. There were l3 children in
    attendance the first morning and it is anticipated that the number will soon be
    doubled.</p>

  <p>The school is held in the building recently erected by subscription for
    divine worship. Mr Acton Mr Orton and other residents have shown
    considerable interest in the matter and have assisted the opening of the school in a
    most substantial manner.</p>
</blockquote>

<p>Among the pupils attending school on that day were: Willie Greig, Mary
Ann Smith, Edith Smith, Sarah Smith, Wm. Halstead, Emma Smith, Jane
Black, Frances Black, Laurison Gerken, Emma Gerken, Mary Ann Kee. Their
ages ranged from 7 to 13.</p>

<p>The appointment of Miss Jagger it the age of 17 would seem rather young
by today 3 standards but she was the only applicant with experience in
Government methods of teaching, having assisted her father at the Timaru
School.</p>

<p>The school was erected by the Canterbury Provincial Government at a cost
of one hundred and ten pounds, on land given by the New Zealand and
Australian Land Company.</p>

<p>The original site was on the corner of Nikau Street and fronted the Te
Ngawai Road at what is now number 60. This area was then known as Morton
Township.</p>

<p>The school was an aided one; the householders within a radius of three miles
paid a yearly tax of one pound; the children attending school paid one shilling
and sixpence weekly while the Provincial Government contributed the balance.</p>

<p>As the original building soon proved too small, another meeting was called
on 2nd February, 1870, to consider the manner and conditions on which an
assisted school could be established. In a report in the Timaru Herald on 5th
February, 1870, it stated that:</p>

<blockquote>
  <p>One acre of land had to be ‘conveyed’ with the school and twenty pounds
    had to be given to the Board as a book fund and a quarter of the price of the
    school would be accepted for this. The Board would pay three quarters of the
    salary of the teacher, not exceeding seventy-five pounds for a master and
    forty yfive pounds for a mistress per annum.</p>
</blockquote>

<p>The Board of Education was desirous that the management of the school
should rest principally with the school committee. It reserved its rights to
sanction the appointment and dismissal of teachers.</p>

<p>A committee was then elected with Mr Acton as chairman. It was agreed
that they could get up to one pound per householder to supplement school
funds and to supply ‘Aid’ as required by the Board and to form the Pleasant
Point Educational District and to provide the annual expenses of such a
district.</p>

<p>The original school was then sold in 1871 to Mr Inman Jackson for removal
Parts of it are still standing at The Gables, Te Ngawai Road.</p>

<p>The new school, consisting of two rooms, together with a headmaster’s
residence, was erected in Harris Street on the site where our local swimming
baths and neighbouring residence are situated. Mr Chas. Opie was appointed
Headmaster. As attendance increased, an infant room was added two years
later. Miss Opie, assistant to her brother, was appointed to the infant room.</p>

<p>Under the Education Act of 1876, the South Canterbury Board of
Education assumed control on lst January, 1887 and decided to enlarge the
master’s room. This room was lengthened again in 1900 in order to
accommodate the steadily increasing number of pupils.</p>

<p>In 1905 the status of the school was raised to that of District High School.
Two local children attending the Timaru Girls' High School at that time, left
to attend Pleasant Point District High School to entitle the school to reach the
required roll number of twenty.</p>

<p>In July of the following year, technical classes were begun at the school at a
cost of one shilling and sixpence a night.</p>

<p>Overcrowding soon made it necessary to consider purchasing a larger
property on which to build a bigger school. In August 1907 it was decided to
buy five acres of Mr McKibbin’s land in Halstead Road.</p>

<p>The Board agreed to pay forty-five pounds an acre for this property, plus
one acre bought by the Committee.</p>

<div class="thumbnail">
  <%= image_tag 'ch7-1.jpg' %>
  <div class="caption">
    <p>The official opening of the District High School on 5 October 1908.</p>
  </div>
</div>

<p>In 1908 a substantial, up-to-date brick building was erected containing five
school rooms, two seven-foot corridors with two front entrances, a
headmaster’s office (11ft x 8ft) and a store room.</p>

<p>This building was described by the architect to the Board as being ‘of good
appearance without any waste of money and adventitious ornament, with all
modern methods of lighting and ventilation’.</p>

<p>The contract for the school was let at one thousand nine hundred and twelve
pounds, the cost being met out of ordinary maintenance grant. The
Department gave two hundred and fifty pounds for the cost of removing the
old Harris Street School to the site of the lawn skirting the silver birches facing
Halstead Road.</p>

<p>Most of this building became the Technical School and the contract for its
establishment was two hundred and twenty pounds plus an additional twenty
pounds met by the school committee. The rest of it was made into a shelter
shed on the eastern side of the brick building.</p>

<p>In a ‘Herald‘ report of the opening of this school on 5th October, 1908, it
was stated to be ‘the model school of the district - a brick and concrete
building in natural colours, ninetyefour feet long with a central gable to a
width of fifty-six feet.‘</p>

<p>It was formally opened by Mr John Jackson, Chairman of the Board of
Education, who stated that Pleasant Point had nearly exhausted the Board’s
treasury.</p>

<p>Dr H.C. Barclay addressed the gathering in place of his father and former
Chairman, the Rev. Geo. Barclay who had been invited to perform the
opening ceremony but had recently died. Mr Crozier, Chairman of the
Committee, said that ‘the School Committee, as well as the people of the
district generally, were delighted to see the successful consummation of their
long and arduous efforts to secure for the Point, a school commensurate with
its requirements.’</p>

<p>To celebrate the opening, a bazaar was held, lasting for three days. Stalls of
all descriptions were available and one hundred and fifty pounds and seven
pence was raised. The newspaper report of this function read:</p>

<blockquote>
  <p>While the first rush of the bazaar was at its height, the School Committee
  adjourned to the shelter shed at the back of the school where, over a bottle of
  wine and some light refreshments, they entertained the speakers of the
  afternoon and a few other visitors.</p>
</blockquote>

<p>In the July following, it was decided to buy an extra acre of land at fifty
pounds and the headmaster‘s residence was not completed till March, 1914.</p>

<p>In 1911, woodwork, cooking and dressmaking classes were established in
the Technical Block and an agricultural course was set up under the Board’s
instructor, Mr J. Brown. By 1914, the instructor was urging extension of the
school grounds for agricultural purposes and so another acre was purchased
from Mr McKibbin for seventy pounds. In that same year, outside schools
were granted the use of the technical instruction.</p>

<p>In August 1915, a grant of twenty-five pounds was made by the Board for a
science room in the school and this was set up in the technical building.</p>

<p>Growth of roll numbers, bringing increased staffing also brought with it
more varied courses available in the Secondary Department. Commercial
classes were commenced in 1929, the headmaster’s office being used for a
typing room. A commercial display of work was set up at the school flower
show of that year to draw parents’ attention to the work being done in this
field.</p>

<p>Woolclassing courses under Mr Ellis Halstead were commenced in 1931.
These were held in the wool store opposite the main school gates. At this stage
the shelter shed was fitted out as an extra classroom for the secondary
department.</p>

<p>In 1938 Mr B.L. Elphick commenced duties as an agricultural instructor on
a full time basis on the staff. During this time, itinerant teachers of woodwork
and cooking were responsible for instruction in Fairlie, Temuka, Geraldine
and Pleasant Point, one and a half days a week being spent here for
instruction. Dressmaking and cooking instruction had both been undertaken
by the homecraft teacher but, owing to pressure of work in cooking
instruction, Miss MacAteer was appointed dressmaking instructress to the
secondary department in 1936.</p>

<p>Fire destroyed the old Technical School on 10th September, 1932 and
application was made for a new building. Plans were drawn up by the Board
for an open air block of three classrooms at an estimated cost of one thousand
nine hundred and fifty pounds.</p>

<p>This building was opened by Mr TD. Burnett (the local M.P.) on 6th July,
1933. It accommodated infants and standards one to four.</p>

<p>During the interim period of conversion of the brick building, woodwork
classes were conducted in the blue garage until a woodwork room was set up
on a temporary basis in the old shelter shed which overlooked the creek on the
eastern side. Cooking classes were conducted in the supper room of the Town
Hall and a dental clinic was set up in what was once the local Maternity
Hospital.</p>

<p>The infant room of the main building was converted into a cookery room and
the Secondary Department, having risen to the status of a two teacher
Seconday School, occupied two classrooms. Standards 5 and 6 occupied the
southwest room and Standard 2 room was converted to a science room.</p>

<p>These were the depression years and staffing problems arose throughout the
country. Dunedin Training College had been closed and only limited numbers
of students were being trained for the teaching profession. As a result, five-
yearrolds were debarred from attending school from 1933 to 1936. This,
however, had little effect on the school roll.</p>

<p>Consolidation had been discussed as early as 1925 but it was not till 1930
that a meeting was held to consider its possibilities. However, it took until
1936, when the Opihi school was destroyed by fire, for consolidation to begin.
In the following year, Cave joined and in February 1938, Sutherlands,
Kakahu, Totara Valley, Rockwood and Hazelburn pupils were all transported
to Pleasant Point by bus.</p>

<div class="thumbnail">
  <%= image_tag 'ch7-2.jpg' %>
  <div class="caption">
    <p>Passengers on the first two school buses, Cave on left and Opihi on right 1937.</p>
  </div>
</div>

<p>This sudden increase in roll numbers brought with it accommodation
problems. The Secondary Department had risen to a three teacher status. As a
result, three marquees had to be set up (one for secondary and two for
primary) to accommodate pupils until the completion of the second open air
block of two classrooms which was first occupied on 31st October, 1938.
Another classroom together with staff room and store room were added to this
building the following year.</p>

<p>Consolidation was not the only reason for increased roll numbers. At this
time, a considerable settlement known as Mazetown had developed on Mr
Maze’s property, this being the headquarters of the men engaged in the
establishment of the Downlands Water Scheme in the distrct.</p>

<p>With the growth of school buildings and roll numbers, application was
made for an additional playing area of two and a half acres from the School
Farm Board.</p>

<p>In February 1939, consolidation extended to Rosewill School pupils and
again in 1942 when Waitohi pupils transferred.</p>

<p>As the need for more buildings and greater playing areas had grown and, at
the same time, the change in the means of transport to school, so the format of
the school grounds had changed. No longer did fifteen to twenty gigs, etc. line
the outside of the horse paddock and so, the horse paddock was ploughed up
and turned into agricultural plots for pupils’ practical work. About this time,
the Public Works Department was engaged to drain the football playing area.</p>

<p>For the interest of today's readers, the horse paddock skirted the creek on
the north eastern side of the brick building. It flowed close to where the
swimming baths are now situated. Horses grazed on either side of it and a
bridge was fitted across it.</p>

<p>The war years brought staffing problems to the school. Male members of
the staff joined the forces and local married women returned to teaching to
relieve the shortage. Children were leaving school at a younger age, boys being
required to help on the family farms whilst older brothers were overseas on
active service. As a result, the secondary roll fell and in 1944, the secondary
staff was reduced to two teachers.</p>

<p>After a struggle of forty years‘ duration for school swimming baths, the
Committee's dream was at last realised in 1943 and the shelter shed was
converted into dressing sheds.</p>

<p>Post war years again brought increased roll numbers. In 1948 the last sole
charge school in the district, Taiko, was closed and its pupils trasferred to
Pleasant Point.</p>

<p>Accommodation became so acute that the Standard 2 class had to use a
cloakroom for a classroom. Two years later the first prefabricated room was
set up to relieve the congestion. Another two followed soon after.</p>

<p>At this stage the Committee was pressing the Board for further
accommodation, namely the building of a new High School block, additional
Primary class rooms and the conversion of the brick school into a Manual
Training Centre. But still, in 1957, Committee minutes read: ‘that the
Secretary write to the Board saying that they desire that their hopes of the last
ten years will soon be realised.‘</p>

<p>At the same time, the Committee was seeking more land in view of the
desirability of obtaining an Assembly Hall. They set the building of this hall as
the 90th jubilee project. It was constructed by Farrell and Gould for a tender
of five thousand, three hundred and fifty-one pounds and many hours of
voluntary work were given by parents in assisting with painting, etc. As a
tribute to the chairman of the School Committee, who had been so vital in
pressing for this building, it was declared the Victor Wilson Hall and officially
opened on 12th August, 1960.</p>

<p>In 1958 an administrative block was added to the second open air block.
This included an adequate store room, Headmaster’s office, secretary’s office
and staff room. The original staff room was converted into a sick bay.</p>

<p>In June, 1959, the new Secondary Block wasopened by the Prime Minister,
the late R. Hon. Walter Nash. This building consisted of a Secondary Library,
science laboratory, three class rooms, a small typing bay and a small secondary
staff room.</p>

<p>Within two years, the building proved inadequate and classes were being
taught in two ‘prefabs’ and, later, in the horticultural room known to pupils as
the ‘Potting Shed’.</p>

<p>Accommodation in the primary department was, likewise, an acute
problem. Classes had to be taught in the woodwork room as well as the old
Anglican Sunday School hall.</p>

<p>After so many years of requests for conversion of the Brick School into a
manual block, the Department completely changed all previously mooted
plans and, in August 1962, an attractive manual block for cooking,
dressmaking, woodwork and metal work classes was constructed on the
southern end of the grounds in close proximity to the secondary block.</p>

<p>At the same time, renovations were made to the old brick school and once
again, the infant classes were transferred to it in February, 1963. The old
corridors and entrances disappeared and were replaced by store rooms.
Windows were fitted in the northern and southern rooms to give more light —
something committees had been pressing for for fifty years. Cloakrooms
replaced the former science lab, and a staff room, toilets and adjoining central
heating unit were added.</p>

<p>In 1963, the pine trees at the bottom of the playground — so familiar to
pupils of former years A were removed and in 1966 a further four acres were
added to this eastern end of the playing field from previous farm school
property. In 1967, a staff hostel was built on property adjoining the school.</p>

<p>At long last, ‘make-shift’ accommodation began to disappear when three
classes moved into an upeto-date brick building overlooking the swimming pool
in October, 1967. Extensions to the Secondary block consisting of two claSs
rooms, more storage facilities, a staff room and conversion of an existing
room into a corridor and excellent library, were completed for the beginning
of the school year in 1968. An extra classroom was also added to the senior
primary block for the use of the secondary department.</p>

<p>The 26th October, 1969 opened the celebration of one hundred years of education
in the Pleasant Point district. To mark the centenary of the School, the
Centennial Committee undertook to finance the building of a permanent
library for the School. The contract was let to TS. Gillies Ltd. and this most
attractive Reading Room was built adjoining the western side of the new three-roomed
brick classroom.</p>

<p>It is interesting to read the special report made at the opening function by
Mr W.J. Cartwright, an ex-pupil who was representing the Canterbury
Education Board. In this report, he said:</p>

<blockquote>
  <p>Pleasant Point District High School is a delightful rural school from
  Primers to Form V1, serving enthusiastically the education needs of a widely
  scattered farming district. It is perhaps our largest consolidated school.
  Consolidation here has been most successful and the co-operation and
  enthusiasm of parents of this wide district have been the means of unifying the
  whole area, the nucleus being the school.</p>
</blockquote>

<p>At the time of the Centennial, the school roll numbered five hundred
primary pupils (up to Form II), and one hundred and forty secondary pupils
(Forms III - VII).</p>

<p>The School Centennial also marked the end of an era in the history of
education in the district. The following year brought the announcement of the
translation of the District High School to two separate schools —— a Primary
School of Primers to Standard IV and a Secondary School of pupils from
Forms I to VII.</p>

<p>February 1971 brought about the commencement of this scheme. Both
schools continued to function on the same premises. Children in Forms I and
II from Cannington School and those from the local Convent who wished to
continue their secondary education at Pleasant Point High School, transferred
to the new school but the Convent still retained its Form I and 11 classes.</p>

<p>The High School commenced with approximately three hundred pupils with
Mr D.F. Waugh as principal, assisted by fourteen permanent staff members.
Four part-time staff attended to such subjects as typing, horticulture, music
and remedial reading. Ancillary staff were appointed for office and library
duties.</p>

<div class="thumbnail">
  <%= image_tag 'ch7-3.jpg' %>
  <div class="caption">
    <p>Aerial view of the two schools showing the original D.H.S. in the lefthand
      ride of picture taken 1982.</p>
  </div>
</div>

<p>Translation to a separate High School brought many extensions to what was
the secondary department of the sixties. Extensive alterations were made to
existing buildings. The headmaster’s residence of District High School days —
built in 1914 — was demolished to make way for a new administration block
for the High School. A new library and art block were also built while
classrooms and buildings were upgraded.</p>

<p>The ex-D.H.S. administration section was shifted to the primary school site
and a new general purpose building plus other additions and alterations were
provided.</p>

<p>About that time, the Department of Education purchased a further seven
acres of land (at the eastern end of the ground) from the School Farm Trust,
making a total of twenty-one acres occupied by the two schools.</p>

<p>Since its promotion to full High School status, the school has been in the
forefront of innovation in education. There has been a wide range of
equipment and education aids added to the facilities, including video
equipment, computers and musical instruments. Additional facilities include a
gymnasium, bulk chemical store, guidance counsellor’s suite, a reading room,
audio visual store and a music room.</p>

<p>In 1982, through the enthusiasm of the Board of Governors and the co-operation
of the Farm School Trust, an agreement was drawn up to get a
horticultural scheme under way. (In former D.H.S. years, the school
agricultural course had been very popular and successful.)</p>

<p>In 1985, sixty pupils embarked on this horticultural programme. Forestry
and the economics of horticulture were included in the study as well as the
practical aspects of land use, water supply, seeds and marketing. Senior pupils
have the option of sitting external examinations in horticulture and third
formers learn a wide range of garden skills working on their experimental
plots.</p>

<p>As part of this programme, a tree-planting scheme was begun on the land
purchased from the Farm Trust. In spite of the set-backs caused by the 1986
flood, the Horticultural Scheme continues to be a study that is met with
enthusiasm by staff and pupils.</p>

<p>High School roll numbers at February 1989 amounted to 348 pupils, a staff
of 26 teachers, four part-time staff and five ancilliary workers.</p>

<p>Following the translation of the D.H.S., Mr W.J. Keating was appointed
Principal of the Primary School in Term 2 of 1971. It continued to function in
the three blocks used by infants to Standard IV in the old D.H.S. days. As the
Victor Wilson Hall was in constant use by the High School, a new, multi-
purpose hall was built for the Primary School.</p>

<p>In 1982, age and earthquake risk led to the demolition of the original
D.H.S. brick building which had stood since 1908. It has been replaced by
wooden relocatable buildings occupied by the Infant Department. A similar
building has been set up as a library and the Centennial Library has been
converted into another classroom.</p>

<p>The Primary School Roll in February 1989 numbered two hundred and ﬁfty
pupils, ten teachers and three ancilliary staff — a far cry from the roll of
thirteen when the first school was established in 1868.</p>

<h3 id="principals-of-pleasant-point-district-high-school">
  Principals of Pleasant Point District High School
</h3>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1868&mdash;1870</td>
          <td>Miss Catherine Jagger</td>
        </tr>
        <tr>
          <td>1871&mdash;1877</td>
          <td>Mr Charles Opie</td>
        </tr>
        <tr>
          <td>1877&mdash;1879</td>
          <td>Mr A. Henry</td>
        </tr>
        <tr>
          <td>1879&mdash;1892</td>
          <td>Mr James Thompson</td>
        </tr>
        <tr>
          <td>1892&mdash;1896</td>
          <td>Mr C.A. Stack</td>
        </tr>
        <tr>
          <td>1896&mdash;1906</td>
          <td>Mr G. Dalglish</td>
        </tr>
        <tr>
          <td>1906&mdash;1909</td>
          <td>Mr W. Thomas</td>
        </tr>
        <tr>
          <td>1910&mdash;1913</td>
          <td>Mr G.T. Palmer</td>
        </tr>
        <tr>
          <td>1913&mdash;1915</td>
          <td>Mr James Methven</td>
        </tr>
        <tr>
          <td>1915&mdash;1918</td>
          <td>Mr R.B.Clarke</td>
        </tr>
        <tr>
          <td>1918&mdash;1920</td>
          <td>Mr J.A. Wickes</td>
        </tr>
        <tr>
          <td>1920&mdash;1924</td>
          <td>Mr W.W. Garton</td>
        </tr>
        <tr>
          <td>1924&mdash;1927</td>
          <td>Mr T.J.C. Wilkins</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1928&mdash;1933</td>
          <td>Mr A.S. de Montalk</td>
        </tr>
        <tr>
          <td>1933&mdash;1936</td>
          <td>Mr J.J. McGuigan</td>
        </tr>
        <tr>
          <td>1936&mdash;1943</td>
          <td>Mr S.C. Gibb</td>
        </tr>
        <tr>
          <td>1943</td>
          <td>Mr J. McRae</td>
        </tr>
        <tr>
          <td>1944&mdash;1950</td>
          <td>Mr W.J. Bennette</td>
        </tr>
        <tr>
          <td>1950&mdash;1955</td>
          <td>Mr E.M. Todd</td>
        </tr>
        <tr>
          <td>1955&mdash;1960</td>
          <td>Mr J. Forbes</td>
        </tr>
        <tr>
          <td>1960&mdash;1970</td>
          <td>Mr J. Crossan</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 id="principals-of-pleasant-point-high-school">
  Principals of Pleasant Point High School
</h3>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1970&mdash;1976</td>
          <td>Mr D.F. Waugh</td>
        </tr>
        <tr>
          <td>1976&mdash;1989</td>
          <td>Mr E. Feasey</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1989&mdash;</td>
          <td>Mr W. Jones</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h3 id="principals-of-pleasant-point-primary-school">
  Principals of Pleasant Point Primary School
</h3>

<div class="row">
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1970&mdash;1976</td>
          <td>Mr W.J. Keating</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>1977&mdash;1989</td>
          <td>Mr A. Hawes</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="thumbnail">
  <%= image_tag 'ch7-4.jpg' %>
  <div class="caption">
    <p>The S.C. Huntmaster’s visit to St. Joseph’s School 1960 showing the original building.</p>
  </div>
</div>

<h2 id="st-josephs-convent">
  St. Joseph's Convent
</h2>

<p>On 23rd October, 1927 the foundation stone of St. Joseph’s Convent in
Pleasant Point was laid by the Late Bishop M.J. Brodie and on 29th January,
1928 he returned to solemnly open and bless the fine new building.</p>

<p>Built of brick, the school comprised two classrooms with a spacious corridor
and store room. The architect was H.G. Broadhead and the builder, W.A.
Petrie of Timaru. The cost of the building was one thousand six hundred and
sixty pounds.</p>

<p>It is interesting to record that on opening day, a debt of only four hundred
pounds remained. Funds had increased through donations, sales and bazaars.
Euchre evenings were held following the opening to further reduce the debt.</p>

<p>The two classrooms were divided by folding doors, the panels of which
served as extra blackboards. The patent window system, operated by a single
crankvhandle admitted a maximum of light and was an innovation in its time.</p>

<p>The Catholic community certainly appreciated this new school as,
previously, some children had travelled to the Kerrytown Convent in order to
have a Catholic Education. Others had attended the Pleasant Point D.H.S.</p>

<p>Forty-two pupils attended when the school opened on 1st February, 1928.
This was the commencement of a successful chapter of Catholic education in
Pleasant Point.</p>

<p>Following the closure of out lying countrv schools more Catholic pupils
were enrolled in the ensuing years. In March 1937, the Kerrytown Convent
was burnt down and until such time as tht school could be replaced, these
pupils had to attend St. Joseph’s. By 1946 the Kerrytown roll had dropped to
five necessitating the closure of that school and its pupils were transported to
St. Joseph’s by bus.</p>

<p>By 1961&mdash;62 the roll at St Joseph's had peaked to one hundred and fifty
pupils which made it necessary to build an additional room including corridor
teachers room and sick bay. This was built in 1963 by the local contractor
T.S. Gillies Ltd. for a cost of three thousand three hundred pounds, including
furnishings.</p>

<p>The money was raised by such methods as farmers donating stock, Tug o‘
Wars, raffles and the continued practice of altering at stock sales.</p>

<p>At this time, a fourth teaching sister was added to the staff. At the end of
the decade roll numbers were high and Bishop Ashby decided that no primer
children could be accepted and the Sisters should teach Standards I — VI
pupils only. Consequently, all primer children were educated at the Public
School for the next two years.</p>

<p>Since fewer women have become teaching sisters, it has been necessary to
employ lay teachers in Convent schools and Pleasant Point has been no
exception, having employed lay teachers since the 1970s.</p>

<p>In 1982, St. Joseph’s became one of four Catholic primary schools in South
Canterbury to integrate into the State system, thus relieving the financial
burden of paying teacher‘s salaries. Had the school not integrated at that time,
it would have been forced to close down as the Parish could not afford to pay
its teachers. At the time of integration, the school had a staff of one Sister and
two lay teachers.</p>

<p>Although the school is required to meet State requirements, religious
instruction is still an important part of the curriculum.</p>

<p>Since then, the school has seen further structural changes. Earthquake
regulations declared the original brick building unsafe. This part was,
therefore, demolished and replaced by a wooden structure comprising classroom,
library and toilet and adjoining the brick section built in 1963.</p>

<p>Today the roll numbers over fifty pupils with Sister Stephanie in charge and two
lay teachers assisting.</p>

<h2 id="pre-school-education">
  Pre-School Education
</h2>

<p>The 1960s brought increasing emphasis on the merits of preschool
education. In February, 1961 a few parents in the township met with leaders in
this field to discuss the possibility of establishing a local play centre. Sufficient
interest among parents was apparent and a committee was formed.</p>

<div class="thumbnail">
  <%= image_tag 'ch7-5.jpg' %>
  <div class="caption">
    <p>Christmas Break-up Party at the first Play Centre in the old Scout Den.</p>
  </div>
</div>

<p>The old Scout Den (originally a small cottage on Harris Street) was
considered a suitable venue for a Play Centre and, with the approval of the
Scout Committee, the Play Centre Committee set about renovating it so that
the Group could meet there once a week.</p>

<p>Parents donated 10 pound each to provide a fund for purchasing the necessary
equipment and in June 1961, about twenty children began attendance under
the supervision of Mrs Dorothy Esler. It was an arduous task, storing all the
equipment, after each session, into a little back room.</p>

<p>As the popularity of the venture grew, membership increased. The Scout
Den became too small and inconvenient until, six years later, with the approval
of the Vestry of the Anglican Church, they were granted the use of St. Alban’s
Hall. By this time, Play Centre was running two sessions a week.</p>

<p>With membership growing, the Play Centre then established two groups
with a roll of twenty in each. Each group had a morning and afternoon session
weekly.</p>

<p>As early as 1963, the Group was bequeathed a section in Te Ngawai Road
but when, a few years later, the area was zoned ‘industrial’, it was decided to
sell it.</p>

<p>After on-going fund raising efforts and assistance from the Department of
Education, the Committee was able to purchase the section on the corner of
Harris and Acton Streets A the site where the first St. Alban’s Church stood.
On to this site, a thousand square foot building was transported from Timaru,
it had originally been built for the South Canterbury Community College and
used for training apprentice carpenters.</p>

<p>It is now artistically landscaped with interesting outedoor equipment such as
sandpit, wooden forts, swing, etc, and has become a popular and happy centre for
fifty preschoolers.</p>

<h2 id="adult-education">
  Adult Education
</h2>

<h3 id="workers-educational-association">
  Workers’ Educational Association
</h2>

<p>As a result of a visit to Pleasant Point by Mr George Manning, organising
secretary for the Workers’ Eductional Association, a meeting was held in P.J.
Bowman’s tearooms on 7th April, 1927 for the purpose of ascertaining what
support was likely to be forthcoming should a class be organised in Pleasant
Point. All present at the meeting enrolled as members and a class was formed
immediately. Dr. Benham was appointed leader and Mr W.T. Taylor the
honorary secretary.</p>

<p>The class commenced on 27 April, 1927 and met every Wednesday night
throughout the winter months. The roll at first numbered twenty but soon
increased. Its studies comprised a course of music, art and literature of the
eighteenth century.</p>

<p>With its roll reaching thirty-six, this class was recognised as one of the
keenest and most active of its kind in South Canterbury.</p>

<p>Such classes continued intermittently throughout the next few decades with
various topics being discussed.</p>

<p>In the fifties, evening classes started at the District High School, woodwork,
dressmaking and handicrafts being very popular.</p>

<p>Since the establishment of the High School with its well equipped facilities, a
wider choice of subjects has become available. They include cookery,
dressmaking, pottery, woodwork, welding, typing, computer studies and keep
fit classes.</p>

<p>In addition, the Aoraki Polytechnic runs one or two-day classes and
weekend schools in a wide variety of subjects, particulary those of interest to
women.</p>

<p>Over the past decade, it has not been unusual for the High School to have
one or two adults in its senior classes — people wishing to study subjects of
particular interest which were not available in their childhood education.</p>

<h2 id="the-farm-school">
  The Farm School
</h2>

<p>To Mr T.D. Burnett, M.P., we owe the formation of the Farm School. In
August, 1932, he secured a five year lease of the property adjoining the school,
approximately 34 acres, which he offered to the Committee free of all cost for
that period.</p>

<p>A committee of interested and practical farmers was formed to manage the
farm in conjunction with the School Committee. A management committee
comprising Messrs F. Agnew, H. Wooffindin, T. Kelliher, M. Maze and AH.
Roberts was set up with Mr Roberts acting as chairman.</p>

<p>The school was brought into close contact with the farm and kept in touch
with the experimental work. All research and calculation work was carried out
by the boys under the supervision of the school staff in order to give them an
introduction to scientific farming.</p>

<p>As extensions to the farm course, pupils were given lectures by experts at the
Sale Yards, shown practical demonstrations at various farm, enjoyed Field
Days at Rangiora and at Lincoln College and benefited from the practical
experience of local farmers.</p>

<p>Prizes were donated annually by the Pleasant Point branch of the Farmers’
Union and boys were orally tested by members of the Committee on work
carried out on the farm during the year. As a result, marks in the matriculation
examinations improved greatly «7 evidence that a good foundation of practical
knowledge was being laid by the work at the Farm School.</p>

<p>At first, it was the practice for boys to give lecturettes at the monthlv
meetings on their experimental work on the Farm. The Department of Agriculture
End the Canterbury Schools‘ Agriculture Instructor gave freely of their advice to the
boys.</p>

<p>The need for a farm supervisor was realised and a visit from the Minister of
Education, Hon. P. Fraser and the Director of Education resulted in the
appointment of Mr B.L. Elphick as agriculture instructor to the school in
1938.</p>

<p>In the same year, the establishment of ‘Stratheona‘, purchased by Mr T.D.
Burnett, brought a new development to the Farm School. ‘Stratheona' was to
be run in conjunction with the Farm School and, under the guidance of Mr
Elphick. Agricultural Clubs in Calves, poultry, flowers and vegetables were
formed for interested pupils.</p>

<p>In hopes of more extensive development, Mr Burnett offered to lease the
farm land to the Education Department. As the offer was not acknowledged,
he withdrew it and the farm then became a private enterprise for the benefit of
Stratheona Hostel, a school for domestic trainees.</p>

<p>The last meeting of the Committee was held in September, 1942, when it was
decided to transfer the balance of the Farm School Committee funds to the
National Savings account. At the expiry of the period, it was to be given
towards the school baths or any object in connection with the school of which
the trustees approved.</p>

<p>When the Womens’ Division of Federated Farmers relinquished Stratheona
as a home training hostel. Mr V. Wilson conceived the idea of a farm training
school to be available for fourth year pupils of surrounding district high
schools. Stratheona would be extended and used as a Monday to Friday hostel.
He visualised the land being used for training, using Department of
Agriculture personnel and visiting tutors from Lincoln College with other
lessons linked with the school.</p>

<p>Mr Wilson gained approval from Lincoln College, Department of
Agriculture. Forestry Service, Education Board and Department but the
Government would not provide the money. Soon afterwards, Telford Farm
School was opened 7 the obvious explanation for the rejection of Mr
Wilson‘s scheme.</p>

<p>In 1965, the Stratheona land adjoining the school came on the market. A
trust was formed by seven local farmers and 26 acres, on the north and east
sides of the school was purchased for $7,400.</p>

<p>This land was cropped for several years in the hope that profits from the
venture would pay off the debt incurred.</p>

<p>The seven acres on the east side of the school was sold to the Department of
Education in April 1970 following the translation of the District High School
to separate schools.</p>

<p>Prior to this, the Trust had purchased a section adjoining the property
fronting Horton Street which gave access from that street to the seven acres
below the school grounds. This area, including the access section was later sold
to the Ministry of Works for approximately $3000 — a sufficient amount to
pay off the mortgage owed by the Trustees.</p>

<p>The Trustees contined to farm nineteen acres with assistance from
Ravensdown Fertiliser Company who supplied free fertiliser for research
projects. Very dry seasons spoiled this venture.</p>

<p>In 1983 Dalgety Agricultural Research leased the property for five years to
carry out research work. However, further dry seasons culminating in the flood
of 13th March 1986, which washed away a large part of the soil and deposited
quantities of shingle, spoiled this project also.</p>

<p>The forward thinking of several High School Board members in 1982
brought to fruition the establishment of a horticultural unit on the area of land
facing Halstead Road where the Trust agreed to lease one and a half acres to
the Pleasant Point High School.</p>

<p>Recently, the Trust has made another small plot available for trial planting
of various trees on the different types of soil deposited by the flood.</p>

<p>In 1979 when the Pleasant Point Saleyards closed, the School Farm Trust
purchased Saleyards’ property on the creek side of Grieg Street. The old
building was leased for several years to the Lands and Survey Department as
an operations base for their reserves in South Canterbury. This was terminated
after the 1986 flood devastation. The adjoining land was farmed in
conjunction with the main block of land across the road near the school.</p>

<p>In 1985, a portion of this saleyards property skirting the creek was sold for
the construction of squash courts for the district.</p>

<p>The remaining land continues to be farmed and the profits support the
Pleasant Point School Memorial Bursary.</p>

<h2 id="the-farm-school">
  Pleasant Point School Memorial Bursary
</h2>

<p>At the end of the 1939-45 World War the Headmaster, Mr W.J. Bennett,
founded a bursary to be known as a Memorial Bursary in memory of pupils of
the school who had made the supreme sacrifice. The bursary was to be a cash
grant of twenty-five pounds to ex-pupils studying at Lincoln or Massey
Agricultural Colleges.</p>

<p>To start the fund, he compiled and published an arithmetic text book,
‘Every Day Farming Problems’, for use in rural courses at post primary
schools. Donations were also received from local farmers. This established the
fund and, on his retirement, Mr Bennett handed over the running of the
bursary to J.G. Munro, secretary of the School Committee.</p>

<p>A committee was then formed comprising Messrs V.W. Wilson, R.
Blakemore, the headmaster and J.G. Munro. This committee functioned till
1959 when Messrs M.F. Maze and F.W. Agnew as trustees of the Farm School
account, intimated that they were prepared to pay two hundred and forty-six
pounds into the bursary fund. This, added to the bursary account balance,
would enable the fund to pay bursaries out of income instead of depleting
capital as in the past. Five hundred pounds invested at five per cent yielded the
annual bursary.</p>

<p>More recently, the control of the bursary fund was transferred to the Board
of Governors of the High School. Over the past twenty years, with a buildup
in capital, many bursaries have been paid to students attending agricultural
colleges or similar educational establishments.</p>

<h2 id="stratheona-home-training-school">
  Stratheona Home Training School
</h2>

<blockquote>
  A hundred men make an encampment, one woman makes a home.
</blockquote>

<p>This was the inscription on the gateway of the Stratheona Training School in
Home Arts at Pleasant Pointm which, in its lifetime, had a unique place in
women’s affairs.</p>

<p>Built in 1910 for local Storekeeper W. McKibbin, ownership later passed to
W. Arnott and eventually to TD. Burnett, M.F., a man prominent in the
district’s progress.</p>

<p>In 1938 Stratheona was gifted to the women of South Canterbury by Mr
Burnett. In the hands of a committee, the training school began with the aim
of equipping young women with the ability to manage a home and family in a
farming situation.</p>

<div class="thumbnail">
  <%= image_tag 'ch7-6.jpg' %>
  <div class="caption">
    <p>Students and Matron at Stratheona Training Hostel.</p>
  </div>
</div>

<p>In 1951 the Stratheona Board of managers decided that the whole of New
Zealand should share the benefit of Mr Burnett‘s generosity and the Women’s
Division of Federated Farmers was invited to shoulder the responsibility of the
centre. The organisation agreed and with funds from the Burnett estate,
renovations to the cottage and hostel were carried out. The next year, its doors
opened to eight trainees with Mrs Mayo as principal. Trainees came from all
over New Zealand and, after the year-long course, received a first or second
class certificate. They were trained free of charge.</p>

<p>Training was comprehensive including home skills, child care, milking cows
and cleaning poultry runs. Trainees also provided a service to the farmers’
wives that was invaluable in times of stress.</p>

<p>Running expenses were as much a fact of life then as now and girls worked
towards this during training. Pleasant Point school children of that time well
remember the dinners available to them at a small cost. Lunches were made for
travelling groups and proceeds from produce from the fourteen acres were
retained by the centre for livestock. Donations and gifts through WDFF and
CWI groups were readily forthcoming and bequests from the Burnett Trust
were also granted.</p>

<p>The decision to close Stratheona came in 1961, based mainly on financial
grounds. This, however, was subject to some questioning as, for several years,
the centre had been self-supporting.</p>

<p>The following year the doors were closed on the only training school of its
kind in the country. It then became home to the Casey family for many years.</p>

<p>In 1980 Mr Dave Allnut became the new owner, his aim being to restore the
once gracious home to its original charm. This hope was shattered by the
March 1986 flood and it now stands a derelict reminder of that terrible day.</p>

<p>However, the home has since been sold and the new owners live in hope of
being able to restore it to its former glory.</p>
